USE [TA]
GO
/****** Object:  View [securitization].[vw_WarehouseTransactionDetail]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [securitization].[vw_WarehouseTransactionDetail]	  
AS	
/**************************************************************************************

	Displays WarehouseTransaction records. 

		
		Example:	


			SELECT		*
			FROM		securitization.vw_WarehouseTransactionDetail  X
			--			
			ORDER BY	X.Sale_TransactionDate		   DESC		
			,			X.LoanNumber				   ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-07-24		Created initial version.	

**************************************************************************************/	


	SELECT		T.ID 
	--
	,			S.WarehouseFacilityID	
	,			F.ShortName				WarehouseFacility_ShortName		
	--
	,			F.LegalEntityID			WarehouseFacility_LegalEntityID		
	,			L.ShortName				WarehouseFacility_LegalEntity_ShortName	
	--	
	,			S.TransactionDate		Sale_TransactionDate	
	--
	,			T.LoanNumber 
	,			T.IssuerLoanNumber		
	--	
	,			P.TransactionDate		Repurchase_TransactionDate					
	--			
	FROM		securitization.WarehouseTransactionDetail	T  
	INNER JOIN	securitization.WarehouseTransaction			S  ON  T.Sale_WarehouseTransactionID = S.ID		
	--	
	INNER JOIN	securitization.WarehouseFacility			F  ON  S.WarehouseFacilityID = F.ID	 
	LEFT  JOIN	marketinfo.LegalEntity						L  ON  F.LegalEntityID = L.ID	 
	--
	LEFT  JOIN	securitization.WarehouseTransaction			P  ON  T.Repurchase_WarehouseTransactionID = P.ID		
	--	
	;	


GO
