USE [TA]
GO
/****** Object:  View [securitization].[vw_WarehouseTransaction]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [securitization].[vw_WarehouseTransaction]	  
AS	
/**************************************************************************************

	Displays WarehouseTransaction records. 

		
		Example:	


			SELECT		*
			FROM		securitization.vw_WarehouseTransaction  X
			--			
			ORDER BY	X.TransactionDate			   DESC		
			,			X.WarehouseFacility_ShortName  ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-07-24		Created initial version.	
	2018-08-29		Added [NumberOfLoansSold], [NumberOfLoansRepurchased], [DrawnBalance_Before], and [DrawnBalance_After]. 
	2022-04-28		Added [IsInsured] field.
	2023-08-04		Adjusted DrawnBalance_After field by IsInsured field.

**************************************************************************************/	


	SELECT		T.ID 
	--	
	,			T.WarehouseFacilityID	
	,			F.ShortName				WarehouseFacility_ShortName		
	--	
	,			F.LegalEntityID			WarehouseFacility_LegalEntityID		
	,			L.ShortName				WarehouseFacility_LegalEntity_ShortName	
	--	
	,			T.TransactionDate	
	,			convert(float,T.ChangeInDrawnBalance)	ChangeInDrawnBalance	
	--	
	,			T.Note										
	--
	,			T.IsInsured 
	--	
	--	
	,			coalesce(Z.DrawnBalance_Before,0.00) 	as	DrawnBalance_Before
	,			coalesce(Z.DrawnBalance_Before,0.00)	
			  + convert(float,T.ChangeInDrawnBalance)	as	DrawnBalance_After
	--	
	,			coalesce(S.NumberOfLoansSold,0)			as	NumberOfLoansSold		
	,			coalesce(R.NumberOfLoansRepurchased,0)	as	NumberOfLoansRepurchased	
	--	
	--	
	FROM		securitization.WarehouseTransaction	 T 	
	INNER JOIN	securitization.WarehouseFacility	 F  ON  T.WarehouseFacilityID = F.ID	 
	LEFT  JOIN	marketinfo.LegalEntity				 L  ON  F.LegalEntityID = L.ID	 
	--
	LEFT  JOIN	(
					SELECT		D.Sale_WarehouseTransactionID
					,			COUNT(D.LoanNumber)		NumberOfLoansSold
					FROM		securitization.WarehouseTransactionDetail	D
					GROUP BY	D.Sale_WarehouseTransactionID
				)			
					S	ON	S.Sale_WarehouseTransactionID = T.ID
	LEFT  JOIN	(
					SELECT	E.Repurchase_WarehouseTransactionID
					,		COUNT(E.LoanNumber)		NumberOfLoansRepurchased
					FROM	securitization.WarehouseTransactionDetail	E
					GROUP BY E.Repurchase_WarehouseTransactionID
				)			
					R	ON	R.Repurchase_WarehouseTransactionID = T.ID
	--
	OUTER APPLY (
					SELECT	Ts.IsInsured				--	2023-08-04		Added IsInsured field
					,		SUM(Ts.ChangeInDrawnBalance)	DrawnBalance_Before		
					FROM	securitization.WarehouseTransaction	 Ts			
					WHERE	T.WarehouseFacilityID = Ts.WarehouseFacilityID 
					AND		Ts.TransactionDate < T.TransactionDate 
					AND		T.IsInsured = Ts.IsInsured	--	2023-08-04
					GROUP BY Ts.IsInsured				--	2023-08-04
				)	
					Z	
	--
	;	


GO
