USE [TA]
GO
/****** Object:  View [trade].[vw_MarkToMarket_Valuation]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [trade].[vw_MarkToMarket_Valuation]  
AS	
/**************************************************************************************

	Displays MarkToMarket_Valuation records. 

		
		Example:	


			SELECT		*
			FROM		trade.vw_MarkToMarket_Valuation  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-08-03		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.ValuationDate		
	--	
	,			X.ZeroCurveTypeID			
	,			T.[Name]			ZeroCurveType_Name	
	--
	,			X.ShockAmount_BasisPoints	
	--
	,			X.IncludesDuration			
	--
	,			X.InsertTime	
	,			X.UpdateTime	
	--
	FROM		trade.MarkToMarket_Valuation	X	
	INNER JOIN	curve.ZeroCurveType				T	ON	X.ZeroCurveTypeID = T.ID	
	--	
	;	
	

GO
