USE [TA]
GO
/****** Object:  View [curve].[vw_DiscountFactorSeriesVersionComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [curve].[vw_DiscountFactorSeriesVersionComponent]  
AS	
/**************************************************************************************

	Displays DiscountFactorSeriesVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		curve.vw_DiscountFactorSeriesVersionComponent X		
			ORDER BY	X.EffectiveTimestamp DESC 
			,			X.DiscountFactorSeriesType_ShortName ASC 
			,			X.Term_Years ASC	
			;	


	Date			Action	
	----------		----------------------------
	2016-01-11		Created initial version.	
	2018-01-29		Made 1 general DiscountFactorSeriesVersion table instead of 3 similar copies. 
					Now have two DiscountFactor values - Bid and Ask. 
	2018-02-01		Moved to new 'curve' schema from 'rate'. 
	2018-02-02		Made Bid and Ask factor columns nullable and added non-nullable Mid factor. 
	2018-07-26		Added [DiscountFactorSeriesVersionID]. 

**************************************************************************************/	

	SELECT		X.ID							
	--	
	,			X.DiscountFactorSeriesVersionID		
	--	
	,			V.DiscountFactorSeriesTypeID		 
	,			T.ShortName								DiscountFactorSeriesType_ShortName		
	,			T.LongName								DiscountFactorSeriesType_LongName	
	--	
	,			V.EffectiveTimestamp					EffectiveTimestamp	
	--	
	,			V.DiscountFactorSeriesSourceID			
	,			S.[Name]								DiscountFactorSeriesSource_Name		
	--
	,			convert(float,X.Term_Years)				Term_Years							 
	--
	,			convert(float,X.DiscountFactor_Bid)		DiscountFactor_Bid	
	,			convert(float,X.DiscountFactor_Ask)		DiscountFactor_Ask	
	,			convert(float,X.DiscountFactor_Mid)		DiscountFactor_Mid	
	--	
	FROM		curve.DiscountFactorSeriesVersion			V		
	INNER JOIN	curve.DiscountFactorSeriesType				T  ON  V.DiscountFactorSeriesTypeID = T.ID
	INNER JOIN	curve.DiscountFactorSeriesSource			S  ON  V.DiscountFactorSeriesSourceID = S.ID 
	--	
	INNER JOIN	curve.DiscountFactorSeriesVersionComponent	X  ON  V.ID = X.DiscountFactorSeriesVersionID	
	--	
	;	
		
			
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'User-friendly view of DiscountFactorSeriesVersionComponent records' , @level0type=N'SCHEMA',@level0name=N'curve', @level1type=N'VIEW',@level1name=N'vw_DiscountFactorSeriesVersionComponent'
GO
