USE [TA]
GO
/****** Object:  View [curve].[vw_DiscountFactorSeriesVersion]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [curve].[vw_DiscountFactorSeriesVersion]  
AS	
/**************************************************************************************

	Displays DiscountFactorSeriesVersion records. 

		
		Example:	


			SELECT		*
			FROM		curve.vw_DiscountFactorSeriesVersion X		
			ORDER BY	X.EffectiveTimestamp DESC 
			,			X.DiscountFactorSeriesType_ShortName ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-01-11		Created initial version.	
	2018-01-29		Made 1 general DiscountFactorSeriesVersion table instead of 3 similar copies. 
	2018-02-01		Moved to new 'curve' schema from 'rate'. 

**************************************************************************************/	


	SELECT		V.ID							
	--				
	,			V.DiscountFactorSeriesTypeID		 
	,			T.ShortName							 DiscountFactorSeriesType_ShortName		
	,			T.LongName							 DiscountFactorSeriesType_LongName	
	-- 
	,			V.EffectiveTimestamp				 EffectiveTimestamp	
	--
	,			V.DiscountFactorSeriesSourceID		 
	,			S.[Name]							 DiscountFactorSeriesSource_Name		
	--	
	FROM		curve.DiscountFactorSeriesVersion	V		
	INNER JOIN	curve.DiscountFactorSeriesType		T  ON  V.DiscountFactorSeriesTypeID = T.ID
	INNER JOIN	curve.DiscountFactorSeriesSource	S  ON  V.DiscountFactorSeriesSourceID = S.ID 
	;	



GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'User-friendly view of DiscountFactorSeriesVersion records' , @level0type=N'SCHEMA',@level0name=N'curve', @level1type=N'VIEW',@level1name=N'vw_DiscountFactorSeriesVersion'
GO
