USE [TA]
GO
/****** Object:  View [deposit].[vw_DemandDepositOptionAssumptionComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_DemandDepositOptionAssumptionComponent] 
AS	
/**************************************************************************************

	Displays DemandDepositOptionAssumptionComponent records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_DemandDepositOptionAssumptionComponent  X		
			--	
			ORDER BY	X.EffectiveStartDate	DESC	
			,			X.DemandDepositTypeID	ASC		
			--	
			,			X.ID ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-09-10		Created initial version.	

**************************************************************************************/	


	SELECT		C.ID	
	--
	,			A.DemandDepositTypeID 
	,			A.DemandDepositType_Name	
	--
	,			A.EffectiveStartDate	
	--	
	,			A.Note			
	--
	,			A.IsLatest	
	--
	,			C.CallOrPut		
	,			C.LongOrShort	
	--	
	,			convert(float,C.NotionalMultiplier)				as	NotionalMultiplier	
	--															
	,			convert(float,C.StrikeRate_Fixed)				as	StrikeRate_Fixed	
	--
	,			convert(float,C.StrikeRate_SpreadToCDOR01)		as	StrikeRate_SpreadToCDOR01	
	,			convert(float,C.StrikeRate_UpperBound)			as	StrikeRate_UpperBound	
	,			convert(float,C.StrikeRate_LowerBound)			as	StrikeRate_LowerBound		
	--
	FROM		deposit.DemandDepositOptionAssumptionComponent	C	
	INNER JOIN	deposit.vw_DemandDepositOptionAssumption		A	
					--
					ON	C.DemandDepositOptionAssumptionID = A.ID	
					--
	--	
	;	
	

GO
