USE [TA]
GO
/****** Object:  View [deposit].[vw_GICCashflowVersionComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_GICCashflowVersionComponent]  
AS	
/**************************************************************************************

	Displays GICCashflowVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_GICCashflowVersionComponent  X	 
			WHERE		X.GICCashflowVersionID = 1 
			ORDER BY	X.PaymentDate ASC	
			,			X.GICCashflowAttributeGroupID ASC	
			;	


	Date			Action	
	----------		----------------------------
	2018-04-03		Created initial version.	
	2018-04-05		Added EstimatedUninsuredPercentage column to GICCashflowVersionComponent table. 
					Added fields from Version and VersionConfiguration tables. 
	2018-04-11		Added WeightedAverageAnnualRate column to GICCashflowVersionComponent table. 
	2018-09-20		Added [DealDesignationID] column from GICCashflowAttributeGroup table. 
	2019-03-07		Added [Company] column from GICCashflowAttributeGroup table. 
	2024-08-20		Added [IsRelationship] column from GICCashflowAttributeGroup table. 

**************************************************************************************/	

	SELECT			C.ID							
	--	
	,				C.GICCashflowVersionID 
	,				V.GICCashflowVersionConfigurationID		
	,				F.UseCashableGICRedemptionAssumption 
	,				F.UseDigitalCancellationAssumption	
	--
	,				V.EffectiveDate 
	,				V.MonthEnd	
	--	
	,				C.GICCashflowAttributeGroupID	
	,				G.GICProductChannelID	
	,				P.[Name]		GICProductChannel_Name	
	--
	,				G.Company		
	--
	,				G.GICTypeID
	,				T.[Name]		GICType_Name	
	,				G.IsTFSA 
	,				G.IsRRSP 
	,				G.OriginalTerm_Rounded_Months	
	,				G.AgentNumber
	,				G.DepositPaymentMethod_Code		
	,				G.HasScheduledRollover	
	,				G.IsCancellable		
	,				G.IsRelationship	
	--
	,				G.DealDesignationID		
	--
	--	
	--
	,				C.IsPastMaturity	
	--	
	,				C.IsLastPayment		
	--	
	,				C.PaymentDate	
	--
	,				C.PrincipalCashflow		
	,				C.InterestCashflow		
	,				C.PrincipalRunoff		
	--		
	,				C.CertificateCount	
	--
	,				C.EstimatedUninsuredPercentage	
	--
	,				C.PrincipalCashflow + C.PrincipalRunoff		  as  TotalPrincipal	
	,				C.InterestCashflow							  as  TotalInterest		
	--															  	  
	,				C.EstimatedUninsuredPercentage 				  	  
				  * ( C.PrincipalCashflow + C.PrincipalRunoff )   as  UninsuredPrincipal_Estimate 
	--
	,				C.WeightedAverageAnnualRate				  
	--
	FROM			deposit.GICCashflowVersion				  V	
	INNER JOIN		deposit.GICCashflowVersionConfiguration	  F	  ON  V.GICCashflowVersionConfigurationID = F.ID 
	--	
	INNER JOIN		deposit.GICCashflowVersionComponent		  C	  ON  V.ID = C.GICCashflowVersionID 
	--														  	  
	INNER JOIN		deposit.GICCashflowAttributeGroup		  G	  ON  C.GICCashflowAttributeGroupID = G.ID 
	LEFT  JOIN		deposit.GICProductChannel				  P	  ON  G.GICProductChannelID = P.ID  
	LEFT  JOIN		deposit.GICType							  T	  ON  G.GICTypeID = T.ID 
	--	
	;	
		
		
GO
