USE [TA]
GO
/****** Object:  View [deposit].[vw_GICCashflowVersionConfiguration]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_GICCashflowVersionConfiguration]  
AS	
/**************************************************************************************

	Displays GICCashflowVersionConfiguration records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_GICCashflowVersionConfiguration  X	 
			--
			ORDER BY	X.ID ASC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2019-03-07		Created initial version.	

**************************************************************************************/	

	SELECT		C.ID							
	--	
	,			C.GICProductChannelID	
	,			P.[Name]	as	GICProductChannel_Name	
	-- 
	,			C.GICTypeID		
	,			T.[Name]	as	GICType_Name	
	--	
	,			C.UseCashableGICRedemptionAssumption 
	,			C.UseDigitalCancellationAssumption	
	--
	,			C.Note	
	--
	FROM		deposit.GICCashflowVersionConfiguration	  C		
	--	
	LEFT  JOIN	deposit.GICProductChannel				  P	  ON  C.GICProductChannelID = P.ID  
	LEFT  JOIN	deposit.GICType							  T	  ON  C.GICTypeID = T.ID 
	--	
	;	
		
		
GO
