USE [TA]
GO
/****** Object:  View [deposit].[vw_DemandDepositRunoffAssumption]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_DemandDepositRunoffAssumption] 
AS	
/**************************************************************************************

	Displays DemandDepositRunoffAssumption records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_DemandDepositRunoffAssumption  X		
			--	
			ORDER BY	X.DemandDepositTypeID	ASC		
			,			X.EffectiveStartDate	DESC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-09-09		Created initial version.	

**************************************************************************************/	


	SELECT		A.ID	
	--
	,			A.DemandDepositTypeID 
	,			T.[Name]				DemandDepositType_Name	
	--
	,			A.EffectiveStartDate	
	,			CASE WHEN A.EffectiveStartDate = X.MaxEffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END						IsLatest	
	--
	,			A.FrequencyID	
	,			F.OneLetterAbbreviation		Frequency_OneLetterAbbreviation		
	,			F.[Name]					Frequency_Name	
	--
	,			A.RepricingDelay_NumberOfPeriods 
	--	
	,			A.Cutoff_NumberOfPeriods 
	--
	,			convert(float,A.RunoffRate_Single)		as	RunoffRate_Single
	--
	,			convert(float,A.RunoffRate_Core)		as	RunoffRate_Core		
	,			convert(float,A.RunoffRate_NonCore)		as	RunoffRate_NonCore		
	--
	FROM		deposit.DemandDepositRunoffAssumption				A	
	LEFT  JOIN	(
					SELECT		Ax.DemandDepositTypeID	
					,			MAX(Ax.EffectiveStartDate)	MaxEffectiveStartDate	
					FROM		deposit.DemandDepositRunoffAssumption	Ax	
					GROUP BY	Ax.DemandDepositTypeID	
				)	
					X	ON	A.DemandDepositTypeID = X.DemandDepositTypeID 
						AND A.EffectiveStartDate = X.MaxEffectiveStartDate 
	--	
	INNER JOIN	deposit.DemandDepositType	T	ON	A.DemandDepositTypeID = T.ID	
	INNER JOIN	marketinfo.Frequency		F	ON	A.FrequencyID = F.ID	
	--	
	;	
	

GO
