USE [TA]
GO
/****** Object:  View [deposit].[vw_GICCashflowAttributeGroup]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_GICCashflowAttributeGroup]  
AS	
/**************************************************************************************

	Displays GICCashflowAttributeGroup records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_GICCashflowAttributeGroup  X	 
			--
			ORDER BY	X.ID ASC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2019-03-07		Created initial version.	

**************************************************************************************/	

	SELECT		G.ID							
	--	
	,			G.GICProductChannelID	
	,			P.[Name]	as	GICProductChannel_Name	
	-- 
	,			G.GICTypeID		
	,			T.[Name]	as	GICType_Name	
	--
	,			G.Company		
	--												
	,			G.IsTFSA							
    ,			G.IsRRSP							
    ,			G.OriginalTerm_Rounded_Months		
    ,			G.AgentNumber						
    ,			G.DepositPaymentMethod_Code			
    ,			G.HasScheduledRollover				
    ,			G.IsCancellable						
    ,			G.DealDesignationID					
    --	
	FROM		deposit.GICCashflowAttributeGroup   G		
	--	
	INNER JOIN	deposit.GICProductChannel			P	  ON  G.GICProductChannelID = P.ID  
	INNER JOIN	deposit.GICType						T	  ON  G.GICTypeID = T.ID 	
	--
	;	
		
		
GO
