USE [TA]
GO
/****** Object:  View [deposit].[vw_GICCashflowVersion]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_GICCashflowVersion]  
AS	
/**************************************************************************************

	Displays GICCashflowVersion records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_GICCashflowVersion X		
			ORDER BY	X.EffectiveDate DESC 
			,			X.GICCashflowVersionConfigurationID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-04-03		Created initial version.	
	2018-04-04		Added GICProductChannelID column to GICCashflowVersionConfiguration table. 

**************************************************************************************/	


	SELECT		V.ID							
	--				
	,			V.GICCashflowVersionConfigurationID				 
	--	
	,			C.GICProductChannelID	
	,			D.[Name]		GICProductChannel_Name	
	--
	,			C.GICTypeID		
	,			T.[Name]		GICType_Name	
	--
	,			C.UseCashableGICRedemptionAssumption	
	,			C.UseDigitalCancellationAssumption	
	--			
	,			V.EffectiveDate		
	--
	,			V.MonthEnd			
	--	
	FROM		deposit.GICCashflowVersion				  V											    
	INNER JOIN	deposit.GICCashflowVersionConfiguration   C  ON  V.GICCashflowVersionConfigurationID = C.ID	
	--
	LEFT  JOIN	deposit.GICProductChannel				  D  ON  C.GICProductChannelID = D.ID	
	LEFT  JOIN	deposit.GICType							  T  ON  C.GICTypeID = T.ID 
	--	
	;	
		


GO
