USE [TA]
GO
/****** Object:  View [deposit].[vw_DemandDepositOptionAssumption]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_DemandDepositOptionAssumption] 
AS	
/**************************************************************************************

	Displays DemandDepositOptionAssumption records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_DemandDepositOptionAssumption  X		
			--	
			ORDER BY	X.DemandDepositTypeID	ASC		
			,			X.EffectiveStartDate	DESC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-09-10		Created initial version.	

**************************************************************************************/	


	SELECT		A.ID	
	--
	,			A.DemandDepositTypeID 
	,			T.[Name]				DemandDepositType_Name	
	--
	,			A.EffectiveStartDate	
	--
	,			A.Note	
	--
	,			CASE WHEN A.EffectiveStartDate = X.MaxEffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END						IsLatest	
	--
	FROM		deposit.DemandDepositOptionAssumption				A	
	LEFT  JOIN	(
					SELECT		Ax.DemandDepositTypeID	
					,			MAX(Ax.EffectiveStartDate)	MaxEffectiveStartDate	
					FROM		deposit.DemandDepositOptionAssumption	Ax	
					GROUP BY	Ax.DemandDepositTypeID	
				)	
					X	ON	A.DemandDepositTypeID = X.DemandDepositTypeID 
						AND A.EffectiveStartDate = X.MaxEffectiveStartDate 
	--	
	INNER JOIN	deposit.DemandDepositType	T	ON	A.DemandDepositTypeID = T.ID	
	--	
	;	
	

GO
