USE [TA]
GO
/****** Object:  View [deposit].[vw_CashableGICRedemptionAssumptionComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [deposit].[vw_CashableGICRedemptionAssumptionComponent] 
AS	
/**************************************************************************************

	Displays CashableGICRedemptionAssumptionComponent records. 

		
		Example:	


			SELECT		*
			FROM		deposit.vw_CashableGICRedemptionAssumptionComponent  X		
			--
			WHERE		X.IsLatest = 1		
			--
			ORDER BY	X.EffectiveStartDate					ASC	
			,			X.MonthsElapsed							ASC 
			,			X.MarketRateMinusIssuedRate_LowerBound	ASC 
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-03-21		Created initial version.	
	2018-09-09		Added [IsLatest] field. 

**************************************************************************************/	


	SELECT		C.ID	
	--
	,			CASE WHEN A.EffectiveStartDate = X.MaxEffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END				IsLatest	
	--
	,			C.CashableGICRedemptionAssumptionID		
	,			A.EffectiveStartDate 
	,			A.Note	
	--
	,			C.MonthsElapsed		
	--	
	,			convert(float,C.MarketRateMinusIssuedRate_LowerBound)	MarketRateMinusIssuedRate_LowerBound
	,			convert(float,C.MarketRateMinusIssuedRate_UpperBound)	MarketRateMinusIssuedRate_UpperBound
	--
	,			convert(float,C.RedemptionProbability)					RedemptionProbability
	--	
	FROM		deposit.CashableGICRedemptionAssumption				A	
	LEFT  JOIN	(
					SELECT	MAX(Ax.EffectiveStartDate)	MaxEffectiveStartDate	
					FROM	deposit.CashableGICRedemptionAssumption	 Ax		
				)	
					X	ON	A.EffectiveStartDate = X.MaxEffectiveStartDate 
	--	
	INNER JOIN	deposit.CashableGICRedemptionAssumptionComponent	C	
						ON	A.ID = C.CashableGICRedemptionAssumptionID	
	--	
	;	
	

GO
