USE [TA]
GO
/****** Object:  View [finance].[vw_FairValue_CalculationResult]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [finance].[vw_FairValue_CalculationResult] 	 
AS	
/**************************************************************************************

	Displays FairValue_CalculationResult records. 

		
		Example:	


			SELECT	top 100  X.* 
			--	
			FROM		finance.vw_FairValue_CalculationResult		X		
			ORDER BY	X.EffectiveDate						DESC	
			,			X.FairValue_InstrumentClass_Name	ASC	
			,			X.InstrumentIdentifier				ASC		
			--				
			;	


	Date			Action	
	----------		----------------------------
	2019-09-24		Migrated to TreasurySQL.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.FairValue_InstrumentClassID	
	,			I.Name								FairValue_InstrumentClass_Name	
	--
	,			X.InstrumentIdentifier	
	--	 
	,			X.BookDate	
	,			X.EffectiveDate		
	--
	,			X.Principal			
	--
	,			X.InterestRate		
	-- 
	,			X.CreditSpread 
	--
	,			X.DirtyValue 
	,			X.AccruedInterest	
	--
	,			X.DirtyValue - X.AccruedInterest	FairValue							
	--
	,			X.ZeroCurveTypeID 
	,			T.Name								ZeroCurveType_Name	
	--	
	FROM		finance.FairValue_CalculationResult					X	
	INNER JOIN	finance.FairValue_InstrumentClass					I	ON	X.FairValue_InstrumentClassID = I.ID	
	--
	LEFT  JOIN	curve.ZeroCurveType									T	ON	X.ZeroCurveTypeID = T.ID	
	--
	;	



GO
