USE [TA]
GO
/****** Object:  View [finance].[vw_LoanCOFResult]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [finance].[vw_LoanCOFResult]	
AS	
/**************************************************************************************

	Displays LoanCOFResult records. 

		
		Example:	


			SELECT		X.LoanCOFResultType_Name	as	ResultType	
			--
			,			X.CalculationDate	
			,			X.LoanNumber	
			,			X.IsFixed	
			,			X.IsRenewal		
			,			X.FundingDate	
			,			X.MaturityDate	
			,			X.PricingDate	
			--	
			,			X.COF_FixedFundingRate				
			,			X.COF_CDOR01ReceiveFixedSwapRate	
			--	
			FROM		finance.vw_LoanCOFResult  X		
			--
			ORDER BY	X.CalculationDate	DESC		
			,			X.ID				DESC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-05-22		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID 
	--
	,			X.LoanCOFResultTypeID
	,			T.[Name]					as	LoanCOFResultType_Name	
	--
	,			X.CalculationDate	
	,			X.LoanNumber	
	,			X.IsFixed	
	,			X.IsRenewal		
	,			X.FundingDate	
	,			X.MaturityDate	
	,			X.PricingDate	
	--	
	,			X.COF_FixedFundingRate				
	,			X.COF_CDOR01ReceiveFixedSwapRate	
	--	
	FROM		finance.LoanCOFResult		X	
	INNER JOIN	finance.LoanCOFResultType	T	ON	X.LoanCOFResultTypeID = T.ID	
	--	
	;	


GO
