USE [TA]
GO
/****** Object:  View [FTP].[vw_CostAssumption]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [FTP].[vw_CostAssumption]
AS	
/**************************************************************************************

	Displays CostAssumption records.		

		
		Example:	


			SELECT		*
			FROM		FTP.vw_CostAssumption	X	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2021-03-02		Created initial version.	
	2021-09-10		Added CurveConfiguration fields.

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.EffectiveStartDate		
	,			X.CurveConfigurationID
	,			C.Note				CurveConfiguration_Note
	,			X.ProductID			
	,			P.[Name]			Product_Name
	--	
	,			X.[Description] 
	,			X.Term_Months
	,			X.CostRate
	--			
	FROM		FTP.CostAssumption			X			
	INNER JOIN	FTP.Product					P	ON	 X.ProductID = P.ID		
	INNER JOIN	FTP.CurveConfiguration		C	ON	 X.CurveConfigurationID = C.ID		
	--			
	;			
				

GO
