USE [TA]
GO
/****** Object:  View [FTP].[vw_CurveVersionComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [FTP].[vw_CurveVersionComponent]  
AS	
/**************************************************************************************

	Displays FTP CurveVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		FTP.vw_CurveVersionComponent X		
			ORDER BY	X.EffectiveDate DESC 
			,			X.CurveType_Name ASC 
			,			X.Term_Years ASC	
			;	


	Date			Action	
	----------		----------------------------
	2021-04-27		Created initial version.	
	2021-09-02		Added CurveConfigurationID and ProductID

**************************************************************************************/	

	SELECT		X.ID							
	--	
	,			X.CurveVersionID		
	--	
	,			V.CurveTypeID		 
	,			T.Name									CurveType_Name		
	--
	,			V.CurveConfigurationID
	,			C.Note									CurveConfiguration_Note
	--	
	,			V.EffectiveDate							EffectiveDate	
	--
	,			V.ProductID
	--
	,			convert(float,X.Term_Years)				Term_Years							 
	--
	,			convert(float,X.BlendedRate)			BlendedRate
	--	
	FROM		FTP.CurveVersion			V		
	INNER JOIN	FTP.CurveType				T  ON  V.CurveTypeID = T.ID
	INNER JOIN	FTP.CurveConfiguration		C  ON  V.CurveConfigurationID = C.ID
	--	
	INNER JOIN	FTP.CurveVersionComponent	X  ON  V.ID = X.CurveVersionID	
	--	
	;	
		
			
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'User-friendly view of CurveVersionComponent records' , @level0type=N'SCHEMA',@level0name=N'FTP', @level1type=N'VIEW',@level1name=N'vw_CurveVersionComponent'
GO
