USE [TA]
GO
/****** Object:  View [FTP].[vw_CurveVersion]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [FTP].[vw_CurveVersion]  
AS	
/**************************************************************************************

	Displays FTP CurveVersion records. 

		
		Example:	


			SELECT		*
			FROM		FTP.vw_CurveVersion X		
			ORDER BY	X.EffectiveTimestamp DESC 
			,			X.CurveType_ShortName ASC 
			;	


	Date			Action	
	----------		----------------------------
	2021-04-27		Created initial version.
	2022-10-26		Added [CurveConfiguration_Note] and [Product_Name] fields.

**************************************************************************************/	


	SELECT		V.ID							
	--				
	,			V.CurveTypeID		 
	,			T.[Name]								CurveType_Name	
	--
	,			V.CurveConfigurationID
	,			C.Note								CurveConfiguration_Note
	--
	,			V.ProductID
	,			P.[Name]							Product_Name
	-- 
	,			V.EffectiveDate						EffectiveDate	
	--	
	FROM		FTP.CurveVersion		V		
	INNER JOIN	FTP.CurveType			T  ON  V.CurveTypeID = T.ID
	LEFT  JOIN	FTP.CurveConfiguration	C  ON  V.CurveConfigurationID = C.ID
	LEFT  JOIN	FTP.Product				P  ON  V.ProductID = P.ID
	;	



GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'User-friendly view of CurveVersion records' , @level0type=N'SCHEMA',@level0name=N'FTP', @level1type=N'VIEW',@level1name=N'vw_CurveVersion'
GO
