USE [TA]
GO
/****** Object:  View [FTP].[vw_LiquidityRunoffAssumption]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [FTP].[vw_LiquidityRunoffAssumption]
AS	
/**************************************************************************************

	Displays LiquidityRunoffAssumption records.		

		
		Example:	


			SELECT		*
			FROM		FTP.vw_LiquidityRunoffAssumption	X	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2021-03-02		Created initial version.
	2021-09-10		Added CurveConfiguration fields.	

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.EffectiveStartDate		
	,			X.CurveConfigurationID
	,			C.Note				CurveConfiguration_Note
	,			X.ProductID			
	,			P.[Name]			Product_Name
	--	
	,			X.Term_Months
	,			X.RunoffRate
	--			
	FROM		FTP.LiquidityRunoffAssumption	X			
	INNER JOIN	FTP.Product						P	ON	 X.ProductID = P.ID	
	INNER JOIN	FTP.CurveConfiguration			C	ON	 X.CurveConfigurationID = C.ID		
	--			
	;			
				

GO
