USE [TA]
GO
/****** Object:  View [FTP].[vw_CurveVersion_Report]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [FTP].[vw_CurveVersion_Report]  
AS	
/**************************************************************************************

	Displays FTP CurveVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		FTP.vw_CurveVersion_Report X	
			WHERE		X.EffectiveDate = '2022-08-05'
			ORDER BY	X.EffectiveDate DESC 
			,			X.ProductID
			,			X.CurveConfigurationID
			,			X.Term_Years ASC
			;	


	Date			Action	
	----------		----------------------------
	2022-08-10		Created initial version.	

**************************************************************************************/	

	SELECT		V_Fixed_Rate.CurveConfigurationID
	,			C.Note									CurveConfiguration_Note
	--
	,			V_Fixed_Rate.ProductID
	,			coalesce(P.[Name],'Overall')			Product_Name
	--	
	,			V_Fixed_Rate.EffectiveDate				EffectiveDate	
	--
	,			convert(float,X_Fixed_Rate.Term_Years)				Term_Years							 
	--
	,			convert(float,X_Fixed_Rate.BlendedRate)					Fixed_Rate_BlendedRate
	,			convert(float,X_Floating_SpreadToCDOR01.BlendedRate)	Floating_SpreadToCDOR01
	,			convert(float,X_Liquidity_Cost.BlendedRate)				Liquidity_Cost
	,			convert(float,X_LTP.BlendedRate)						LTP
	,			convert(float,X_Swap_Component.BlendedRate)				Swap_Component
	--	
	FROM		FTP.CurveVersion			V_Fixed_Rate		
	INNER JOIN	FTP.CurveType				T_Fixed_Rate				ON  V_Fixed_Rate.CurveTypeID = T_Fixed_Rate.ID
																		AND T_Fixed_Rate.[Name] = 'Fixed_Rate'
	LEFT  JOIN	FTP.Product					P							ON	V_Fixed_Rate.ProductID = P.ID
	--
	INNER JOIN	FTP.CurveVersion			V_Floating_SpreadToCDOR01	ON	V_Floating_SpreadToCDOR01.CurveConfigurationID = V_Fixed_Rate.CurveConfigurationID
																		AND V_Floating_SpreadToCDOR01.Effectivedate = V_Fixed_Rate.Effectivedate
																		AND (V_Floating_SpreadToCDOR01.ProductID = V_Fixed_Rate.ProductID
																		OR	(V_Floating_SpreadToCDOR01.ProductID IS NULL AND V_Fixed_Rate.ProductID IS NULL))
	INNER JOIN	FTP.CurveType				T_Floating_SpreadToCDOR01	ON  V_Floating_SpreadToCDOR01.CurveTypeID = T_Floating_SpreadToCDOR01.ID
																		AND T_Floating_SpreadToCDOR01.[Name] = 'Floating_SpreadToCDOR01'
	--
	INNER JOIN	FTP.CurveVersion			V_Liquidity_Cost			ON	V_Liquidity_Cost.CurveConfigurationID = V_Fixed_Rate.CurveConfigurationID
																		AND V_Liquidity_Cost.Effectivedate = V_Fixed_Rate.Effectivedate
																		AND (V_Liquidity_Cost.ProductID = V_Fixed_Rate.ProductID
																		OR	(V_Liquidity_Cost.ProductID IS NULL AND V_Fixed_Rate.ProductID IS NULL))
	INNER JOIN	FTP.CurveType				T_Liquidity_Cost			ON  V_Liquidity_Cost.CurveTypeID = T_Liquidity_Cost.ID
																		AND T_Liquidity_Cost.[Name] = 'Liquidity_Cost'
	--
	INNER JOIN	FTP.CurveVersion			V_LTP						ON	V_LTP.CurveConfigurationID = V_Fixed_Rate.CurveConfigurationID
																		AND V_LTP.Effectivedate = V_Fixed_Rate.Effectivedate
																		AND (V_LTP.ProductID = V_Fixed_Rate.ProductID
																		OR	(V_LTP.ProductID IS NULL AND V_Fixed_Rate.ProductID IS NULL))
	INNER JOIN	FTP.CurveType				T_LTP						ON  V_LTP.CurveTypeID = T_LTP.ID
																		AND T_LTP.[Name] = 'LTP'
	--
	INNER JOIN	FTP.CurveVersion			V_Swap_Component			ON	V_Swap_Component.CurveConfigurationID = V_Fixed_Rate.CurveConfigurationID
																		AND V_Swap_Component.Effectivedate = V_Fixed_Rate.Effectivedate
																		AND (V_Swap_Component.ProductID = V_Fixed_Rate.ProductID
																		OR	(V_Swap_Component.ProductID IS NULL AND V_Fixed_Rate.ProductID IS NULL))
	INNER JOIN	FTP.CurveType				T_Swap_Component			ON  V_Swap_Component.CurveTypeID = T_Swap_Component.ID
																		AND T_Swap_Component.[Name] = 'Swap_Component'
	INNER JOIN	FTP.CurveConfiguration		C	ON  V_Fixed_Rate.CurveConfigurationID = C.ID
	--	
	INNER JOIN	FTP.CurveVersionComponent	X_Fixed_Rate				ON  V_Fixed_Rate.ID = X_Fixed_Rate.CurveVersionID	
	INNER JOIN	FTP.CurveVersionComponent	X_Floating_SpreadToCDOR01	ON  V_Floating_SpreadToCDOR01.ID = X_Floating_SpreadToCDOR01.CurveVersionID	
																		AND X_Floating_SpreadToCDOR01.Term_Years = X_Fixed_Rate.Term_Years
	INNER JOIN	FTP.CurveVersionComponent	X_Liquidity_Cost			ON  V_Liquidity_Cost.ID = X_Liquidity_Cost.CurveVersionID		
																		AND X_Liquidity_Cost.Term_Years = X_Fixed_Rate.Term_Years
	INNER JOIN	FTP.CurveVersionComponent	X_LTP						ON  V_LTP.ID = X_LTP.CurveVersionID		
																		AND X_LTP.Term_Years = X_Fixed_Rate.Term_Years
	INNER JOIN	FTP.CurveVersionComponent	X_Swap_Component			ON  V_Swap_Component.ID = X_Swap_Component.CurveVersionID		
																		AND X_Swap_Component.Term_Years = X_Fixed_Rate.Term_Years
	--	
	;	
		
			
GO
