USE [TA]
GO
/****** Object:  View [hedging].[vw_DealTerminationComponent]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_DealTerminationComponent] 
AS	
/**************************************************************************************

	Displays DealTerminationComponent records. 
		
		
		Example:	


			SELECT		*
			FROM		hedging.vw_DealTerminationComponent  X
			--			
			ORDER BY	X.DealTerminationID DESC	
			,			X.DealDesignationID ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-02-25		Created initial version. 

**************************************************************************************/	


	SELECT		C.ID	
	--
	,			C.DealTerminationID 
	,			C.DealDesignationID		
	--
	,			T.TerminationDate	
	,			D.DesignationDate	
	--
	,			TD.ID					as	Termination_DealID	
	,			TD.InternalIdentifier	as	Termination_Deal_InternalIdentifier	
	--
	,			DD.ID					as	Designation_DealID	
	,			DD.InternalIdentifier	as	Designation_Deal_InternalIdentifier	
	--
	FROM		hedging.DealTerminationComponent	C	
	--
	INNER JOIN	hedging.DealTermination				T	ON	C.DealTerminationID = T.ID	
	INNER JOIN	trade.Deal							TD	ON	T.DealID = TD.ID	
	--		
	INNER JOIN	hedging.DealDesignation				D	ON	C.DealDesignationID = D.ID	
	INNER JOIN	trade.Deal							DD	ON	D.DealID = DD.ID	
	-- 
	;	
		


GO
