USE [TA]
GO
/****** Object:  View [hedging].[vw_ZeroRateSeriesVersionComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_ZeroRateSeriesVersionComponent]  
AS	
/**************************************************************************************

	Displays ZeroRateSeriesVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_ZeroRateSeriesVersionComponent  X				
			ORDER BY	X.ZeroRateSeriesVersionID DESC
			,			X.Term_Years ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-05-12		Created initial version.	
	2018-07-26		Copied from EQDWT01. 

**************************************************************************************/	

	SELECT		C.ID										
	--	
	,			C.ZeroRateSeriesVersionID			
	,			V.EffectiveDate							
	--	
	,			convert(float,C.Term_Years)			Term_Years
	,			convert(float,C.ZeroYieldRate)		ZeroYieldRate
	--
	,			POWER( convert(float,1.0) + convert(float,C.ZeroYieldRate)	
					 , convert(float,-1.0) * convert(float,C.Term_Years) )		DiscountFactor	
	-- 
	,			V.ZeroRateSeriesTypeID
	,			T.[Name]					ZeroRateSeriesType_Name 
	--	
	FROM		hedging.ZeroRateSeriesVersionComponent	C	
	INNER JOIN	hedging.ZeroRateSeriesVersion			V  ON  C.ZeroRateSeriesVersionID = V.ID 	
	INNER JOIN	hedging.ZeroRateSeriesType				T  ON  V.ZeroRateSeriesTypeID = T.ID 
	;	
		
			
GO
