USE [TA]
GO
/****** Object:  View [hedging].[vw_DealDesignation]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_DealDesignation] 
AS	
/**************************************************************************************

	Displays DealDesignation records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_DealDesignation X		
			ORDER BY	X.DesignationDate DESC 
			,			X.Deal_InternalIdentifier ASC
			; 


	Date			Action	
	----------		----------------------------
	2016-05-18		Created initial version. 
	2016-11-04		Added MBSCashflowID field. 
	2018-08-02		Copied from EQDWT01 (Treasury_Analytics). 

**************************************************************************************/	


	SELECT		D.ID	
	--	
	,			CASE WHEN TERMINATED.DealDesignationID IS NOT NULL 
					 THEN 1 
					 ELSE 0 
				END									as	IsTerminated		
	,			TERMINATED.MinTerminationDate		as	TerminationDate		
	--	
	,			REPLACE(D.InsertBy,'EQUITAD\','')	as	Uploader
	--	
	,			D.DesignationDate			
	,			D.DealID					
	,			X.InternalIdentifier		as	Deal_InternalIdentifier		
	--	
	,			D.ZeroRateSeriesVersionID 
	--	
	,			D.DealDesignationTypeID 
	,			T.[Name]					as	DealDesignationType_Name	
	--	
	,			D.Note 
	--	
	,			convert(float, D.PartialPercentage)		as	PartialPercentage	
	--	
	,			D.Ignore 		
	--	
	,			P.PoolDate			as	PlannedMBSPool_PoolDate			
	,			P.SummaryString		as	PlannedMBSPool_SummaryString 
	,			C.ID				as	MBSCashflowID	
	--	
	FROM		hedging.DealDesignation		D	
	--	
	LEFT  JOIN	(
					SELECT		C.DealDesignationID		
					,			MIN(Ts.TerminationDate)	MinTerminationDate	
					FROM		hedging.DealTermination				Ts	
					INNER JOIN	hedging.DealTerminationComponent	C	ON	Ts.ID = C.DealTerminationID 
					WHERE		Ts.Ignore = 0 
					GROUP BY	C.DealDesignationID 
				)	
					TERMINATED	ON	D.ID = TERMINATED.DealDesignationID 
	--	
	INNER JOIN	hedging.DealDesignationType		T	ON	D.DealDesignationTypeID = T.ID 
	INNER JOIN	trade.Deal						X	ON	D.DealID = X.ID		
	--
	OUTER APPLY (
					SELECT	Xs.MBSCashflowID 
					FROM	hedging.DealDesignationComponent_MBSCashflow	Xs	
					WHERE	( SELECT COUNT(*) 
							  FROM	 hedging.DealDesignationComponent_MBSCashflow	Xs2	
							  WHERE	 Xs2.DealDesignationID = D.ID ) 
							= 1 
					AND		Xs.DealDesignationID = D.ID 
				)	
													Y	
	--	
	LEFT  JOIN	hedging.MBSCashflow					C	ON	Y.MBSCashflowID = C.ID 
	LEFT  JOIN	hedging.MBSAmortizationSchedule		S	ON	C.MBSAmortizationScheduleID = S.ID 
	LEFT  JOIN	hedging.vw_PlannedMBSPool			P	ON	S.PlannedMBSPoolID = P.ID 
	--	
	;	



GO
