USE [TA]
GO
/****** Object:  View [hedging].[vw_StockAwardSwapValuation]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [hedging].[vw_StockAwardSwapValuation] 
AS	
/**************************************************************************************

	Displays StockAwardSwapValuation records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_StockAwardSwapValuation  X		
			--
			ORDER BY	X.ValuationDate	 DESC 
			,			X.EQBReference	 DESC 
			--	
			;	


	Date			Action	
	----------		----------------------------
	2020-12-10		Created initial version. 
	2020-12-22		Added 3 [MTM_AccountingCustom*] columns (* ~ 1,2,3).  
					Added [BorrowingCost_FloatingRatIndex_ShortName] (initial oversight). 
	2020-12-23		Added [UpdateTime] column.  

**************************************************************************************/	


	SELECT		A.ID	
	--
	,			V.StockAwardSwapAgreementID 
	,			A.EQBReference			
	--
	,			V.ValuationDate 
	--	
	,			V.SharesHedged 
    ,			V.ReferenceVWAP 
    ,			V.RecentVWAP 
    ,			V.LastTradePrice 
    ,			V.MTM_EquityValue 
    ,			V.SwapAccruedInterest 
    ,			V.MTM_ForCollateral 
	--
	--
	,			V.MTM_AccountingCustom1 
	,			V.MTM_AccountingCustom2 
	,			V.MTM_AccountingCustom3 
	--
	--
	,			V.Notes  as  SwapValuation_Notes 
	--
	--
	,			A.StockAwardTypeID		
	,			T.ShortName			as  StockAwardType_ShortName 
	,			T.LongName			as  StockAwardType_LongName 
	--
	,			A.Counterparty_LegalEntityID 
	,			L.ShortName						as  Counterparty_LegalEntity_ShortName	
	,			L.LongName						as	Counterparty_LegalEntity_LongName	
	--
	,			A.CounterpartyReference		
	,			A.TradeDate					
	,			A.Contract_StartDate		
	,			A.Contract_EndDate			
	--
	,			A.BorrowingCost_FloatingRateIndexID			
	,			F.ShortName  as  BorrowingCost_FloatingRateIndex_ShortName 
	,			A.BorrowingCost_FixedRateOrSpreadToIndex	
	-- 
	,			A.Notes  as  SwapAgreement_Notes 
	--	
	--
	,			V.UpdateTime 
	--
	--
	FROM		hedging.StockAwardSwapValuation  V  
	--
	INNER JOIN	hedging.StockAwardSwapAgreement  A  ON  V.StockAwardSwapAgreementID = A.ID 
	LEFT  JOIN	hedging.StockAwardType			 T  ON  A.StockAwardTypeID = T.ID 
	--												 
	INNER JOIN	marketinfo.LegalEntity		  L  ON  A.Counterparty_LegalEntityID = L.ID 
	LEFT  JOIN	marketinfo.FloatingRateIndex  F  ON  A.BorrowingCost_FloatingRateIndexID = F.ID 
	--
	;	
	

GO
