USE [TA]
GO
/****** Object:  View [hedging].[vw_DealTermination]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_DealTermination] 
AS	
/**************************************************************************************

	Displays DealTermination records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_DealTermination X		
			ORDER BY	X.TerminationDate DESC 
			,			X.Deal_InternalIdentifier ASC
			;	
				

	Date			Action	
	----------		----------------------------
	2017-04-07		Created initial version. 
	2018-08-02		Copied from EQDWT01 (Treasury_Analytics). 

**************************************************************************************/	


	SELECT		T.ID	
	--
	,			T.TerminationDate 
	,			T.DealID	
	,			X.InternalIdentifier	Deal_InternalIdentifier		
	,			X.IsActive				Deal_IsActive	
	--
	,			T.ZeroRateSeriesVersionID	
	--
	,			T.Note	
	--
	,			T.PartialPercentage		
	--
	,			T.Ignore	
	--
	FROM		hedging.DealTermination		T		
	--
	INNER JOIN	trade.Deal					X	ON	T.DealID = X.ID		
	-- 
	;	
		


GO
