USE [TA]
GO
/****** Object:  View [hedging].[vw_StockAwardSwapAgreement]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [hedging].[vw_StockAwardSwapAgreement] 
AS	
/**************************************************************************************

	Displays StockAwardSwapAgreement records. 

		
		Example:  


			SELECT		*
			FROM		hedging.vw_StockAwardSwapAgreement  X		
			--
			ORDER BY	X.TradeDate		DESC 
			,			X.EQBReference	DESC 
			--	
			;	
    
    
	Date			Action	
	----------		----------------------------
	2020-12-10		Created initial version. 
	2020-12-22		Added [BorrowingCost_FloatingRatIndex_ShortName] (initial oversight). 

**************************************************************************************/	


	SELECT		A.ID	
	--
	,			A.EQBReference			
	,			A.StockAwardTypeID		
	,			T.ShortName			as  StockAwardType_ShortName 
	,			T.LongName			as  StockAwardType_LongName 
	--
	,			A.Counterparty_LegalEntityID 
	,			L.ShortName						as  Counterparty_LegalEntity_ShortName	
	,			L.LongName						as	Counterparty_LegalEntity_LongName	
	--
	,			A.CounterpartyReference		
	,			A.TradeDate					
	,			A.Contract_StartDate		
	,			A.Contract_EndDate			
	--
	,			A.BorrowingCost_FloatingRateIndexID			
	,			F.ShortName  as  BorrowingCost_FloatingRateIndex_ShortName 
	,			A.BorrowingCost_FixedRateOrSpreadToIndex	
	--
	,			A.Notes		
	--	
	FROM		hedging.StockAwardSwapAgreement  A 	
	LEFT  JOIN	hedging.StockAwardType			 T  ON  A.StockAwardTypeID = T.ID 
	--	
	INNER JOIN	marketinfo.LegalEntity		  L  ON  A.Counterparty_LegalEntityID = L.ID 
	LEFT  JOIN	marketinfo.FloatingRateIndex  F  ON  A.BorrowingCost_FloatingRateIndexID = F.ID 
	--
	;	
	

GO
