USE [TA]
GO
/****** Object:  View [hedging].[vw_MBSCashflow]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_MBSCashflow] 
AS	
/**************************************************************************************

	Displays MBSCashflow records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_MBSCashflow  X		
			ORDER BY	X.EffectiveDate DESC 
			,			X.PlannedMBSPoolID DESC  
			,			X.MBSDataSource_Name ASC 
			; 


	Date			Action	
	----------		----------------------------
	2016-05-04		Created initial version.			
	2016-11-04		Added 'LastCashflowDate' column.	
	2018-08-02		Migrated from EQDWT01 (Treasury_Analytics).		

**************************************************************************************/	


	SELECT		C.ID 
	--
	,			C.MBSDataSourceID	
	,			D.[Name]							MBSDataSource_Name		
	--
	,			C.EffectiveDate 
	--
	,			convert(float, C.PrincipalMultiplier)	PrincipalMultiplier		
	--
	,			convert(float, C.AnnualFixedRate)		AnnualFixedRate		
	,			C.FloatingRateIndexID 
	,			F.ShortName								FloatingRateIndex_ShortName 
	,			convert(float, C.SpreadToIndexRate)		SpreadToIndexRate 
	,			convert(float, C.FloorRate) 			FloorRate 
	,			convert(float, C.CeilingRate)	 		CeilingRate	
	,			C.Compound_FrequencyID 
	,			CF.[Name]								Compound_Frequency_Name	
	--
	,			C.MBSAmortizationScheduleID		
	,			S.PlannedMBSPoolID				
	,			P.IsFixed								PlannedMBSPool_IsFixed	
	,			P.Term_Years							PlannedMBSPool_Term_Years	
	--
	,			C.Note 
	--	
	,			CASE WHEN D.[Name] = 'Direct User Upload'		
					 THEN REPLACE(C.InsertBy,'EQUITAD\','')		
					 ELSE D.[Name] 
				END									Uploader	
	--
	,			X.MinCashflowDate					FirstCashflowDate		
	,			X.MaxCashflowDate					LastCashflowDate	
	,			X.OpeningPrincipal					OpeningPrincipal	
	,			X.ClosingPrincipal					ClosingPrincipal	
	,			Z.InterestPeriod_DayCountFraction	AccruedInterest_DayCountFraction 
	,			Z.AnnualFixedRate_Effective 
	,			Z.InterestPeriod_DayCountFraction * Z.AnnualFixedRate_Effective * X.OpeningPrincipal	AccruedInterest 
	--
	,			( SELECT	 COUNT(*) 
				  FROM		 hedging.DealDesignationComponent_MBSCashflow 	DDCx 
				  INNER JOIN hedging.DealDesignation						DDx	  ON  DDCx.DealDesignationID = DDx.ID 
				  WHERE		 DDCx.MBSCashflowID = C.ID
				  AND		 DDx.Ignore = 0	)	as	DesignationCount 
	--	
	FROM		hedging.MBSCashflow					C	
	INNER JOIN	hedging.MBSDataSource				D	ON	C.MBSDataSourceID = D.ID 
	LEFT  JOIN	marketinfo.FloatingRateIndex		F	ON	C.FloatingRateIndexID = F.ID 
	LEFT  JOIN	marketinfo.Frequency				CF	ON	C.Compound_FrequencyID = CF.ID 
	INNER JOIN	hedging.MBSAmortizationSchedule		S	ON	C.MBSAmortizationScheduleID = S.ID 
	INNER JOIN	hedging.PlannedMBSPool				P	ON	S.PlannedMBSPoolID = P.ID	
	--
	OUTER APPLY	(
					SELECT	MCFC.CashflowDate									MinCashflowDate		
					,		MCFD.MaxCashflowDate								MaxCashflowDate		
					,		convert(float, MCFC.OpeningPrincipal)				OpeningPrincipal	
					,		convert(float, MCFC2.OpeningPrincipal) 
						  - convert(float, MCFC2.PrincipalRepayment)			ClosingPrincipal	
					--
					FROM	(
								SELECT	MIN(SCs.CashflowDate)	MinCashflowDate 
								,		MAX(SCs.CashflowDate)	MaxCashflowDate		
								FROM	hedging.MBSAmortizationScheduleComponent	SCs		
								WHERE	SCs.MBSAmortizationScheduleID = S.ID 
							) 
								MCFD 
					INNER JOIN	hedging.MBSAmortizationScheduleComponent	MCFC	ON	MCFC.MBSAmortizationScheduleID = S.ID 
																					AND MCFD.MinCashflowDate = MCFC.CashflowDate 
					INNER JOIN	hedging.MBSAmortizationScheduleComponent	MCFC2	ON	MCFC2.MBSAmortizationScheduleID = S.ID 
																					AND MCFD.MaxCashflowDate = MCFC2.CashflowDate 
					--	
				)	
					X	
	--
	CROSS APPLY (
					SELECT	marketinfo.fcn_DayCountFraction ( dateadd(day,1-day(P.PoolDate),P.PoolDate)		
															, dateadd(day,-1,P.PoolDate)					
															, '30/360' )	
								InterestPeriod_DayCountFraction 
					--
					,		CASE WHEN C.AnnualFixedRate IS NULL 
								 THEN NULL 
								 ELSE rate.fcn_CompoundFrequencyConversion_AnnualRate ( C.AnnualFixedRate 
																					  , CF.OneLetterAbbreviation 
																					  , 'M' ) 
							END	 AnnualFixedRate_Effective 
					--
				)		
					Z	
	--
	;	

	
GO
