USE [TA]
GO
/****** Object:  View [hedging].[vw_DealDesignation_GICSwap_MonthEndMark]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_DealDesignation_GICSwap_MonthEndMark]	 
AS	
/**************************************************************************************

	Displays DealDesignation_GICSwap_MonthEndMark records. 

		
		Example:	


			SELECT		X.*
			--	
			FROM		hedging.vw_DealDesignation_GICSwap_MonthEndMark X		
			--
			WHERE		X.ValuationDate = X.DesignationDate 	
			OR			MONTH(dateadd(day,1,X.ValuationDate)) != MONTH(X.ValuationDate)		
			--
			ORDER BY	X.DealDesignationID	ASC 
			,			X.ValuationDate		DESC 	
			--	
			; 


	Date			Action	
	----------		----------------------------
	2017-02-19		Created initial version.	
	2017-02-21		Using new "Override" table to incorporate older marks from Excel model. 
	2018-10-02		Migrated to TreasurySQL (from EQDWT01/Treasury_Analytics). 
					Added [DealID] column.	
	2018-11-02		Moved [DealID] column to end of list. 

**************************************************************************************/	


	SELECT		M.ID	
	--
	,			M.ValuationDate		
	--
	,			M.DealDesignationID 
	,			X.InternalIdentifier		Deal_InternalIdentifier		
	,			D.DesignationDate	
	--
	,			convert(float, coalesce(O.SwapNotional,M.SwapNotional)				 ) 	SwapNotional	
	,			convert(float, coalesce(O.SwapDirtyValue,M.SwapDirtyValue)			 ) 	SwapDirtyValue
	,			convert(float, coalesce(O.SwapAccruedInterest,M.SwapAccruedInterest) ) 	SwapAccruedInterest		
	--
	,			convert(float, coalesce(O.GICPrincipal,M.GICPrincipal)				 )  GICPrincipal	
	,			convert(float, coalesce(O.GICDirtyValue,M.GICDirtyValue)			 )  GICDirtyValue
	,			convert(float, coalesce(O.GICAccruedInterest,M.GICAccruedInterest)	 )  GICAccruedInterest		
	--	
	,			CASE WHEN O.ID IS NOT NULL 
					 THEN 1 
					 ELSE 0 
				END				IsOverride		
	--
	,			O.ID			OverrideID	
	--
	,			D.DealID		DealID	 
	--
	FROM		hedging.DealDesignation_GICSwap_MonthEndMark	M	
	INNER JOIN	hedging.DealDesignation							D	ON	M.DealDesignationID = D.ID	
																	--
																	AND M.IsOverride = 0 
																	-- 
	INNER JOIN	trade.Deal										X	ON	D.DealID = X.ID 
	--
	LEFT  JOIN	hedging.DealDesignation_GICSwap_MonthEndMark	O	ON	M.DealDesignationID = O.DealDesignationID 
																	AND M.ValuationDate = O.ValuationDate 	
																	--
																	AND O.IsOverride = 1 
																	--
	--
	;	


GO
