USE [TA]
GO
/****** Object:  View [hedging].[vw_ZeroRateSeriesVersion]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_ZeroRateSeriesVersion]
AS	
/**************************************************************************************

	Displays ZeroRateSeriesVersion records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_ZeroRateSeriesVersion X		
			ORDER BY	X.EffectiveDate DESC 
			;	


	Date			Action	
	----------		----------------------------
	2016-05-12		Created initial version.	
	2016-07-08		Added DayCountConvention_ShortName column.	
	2018-07-26		Copied from EQDWT01. 

**************************************************************************************/	


	SELECT		V.ID							
	--				
	,			V.ZeroRateSeriesTypeID
	,			T.[Name]								ZeroRateSeries_Type_Name 
	-- 
	,			V.EffectiveDate							EffectiveDate
	--
	,			coalesce(C.ShortName,'Act/365 Fixed')	DayCountConvention_ShortName		
	--
	FROM		hedging.ZeroRateSeriesVersion		V		
	INNER JOIN	hedging.ZeroRateSeriesType			T	ON	V.ZeroRateSeriesTypeID = T.ID	 
	--
	LEFT  JOIN	marketinfo.DayCountConvention		C	ON	V.DayCountConventionID = C.ID	
	--
	;	
	

GO
