USE [TA]
GO
/****** Object:  View [hedging].[vw_PlannedMBSPool]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_PlannedMBSPool] 
AS	
/**************************************************************************************

	Displays PlannedMBSPool records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_PlannedMBSPool X		
			--
			ORDER BY	X.MBSDataSource_Name ASC 
			,			X.PoolDate ASC 
			,			X.FixedOrFloating ASC 
			,			X.Term_Years ASC 
			--	
			;	


	Date			Action	
	----------		----------------------------
	2016-04-08		Created initial version. 
	2016-05-04		Moved to 'hedging' schema; added SummaryString column.
	2016-05-15		Using new function for SummaryString. 
	2016-07-09		Added IsFirstNational column. 
	2018-07-31		Migrated from EQDWT01 with changed underlying table structure. 

**************************************************************************************/	


	SELECT		P.ID	
	--
	,			P.MBSDataSourceID	
	,			S.[Name]				MBSDataSource_Name	
	--	
	,			P.IsFixed	
	,			CASE WHEN P.IsFixed = 0 THEN 'Floating' 
					 WHEN P.IsFixed = 1 THEN 'Fixed' 
					 ELSE null 
				END						FixedOrFloating		
	--
	,			P.Term_Years	
	--
	,			P.PoolDate 
	,			P.CutoffDate 
	,			P.MaturityLowerBound 
	,			P.MaturityUpperBound	
	--
	--	
	,			CASE WHEN P.IsFixed = 0 THEN 'Floating' 
					 WHEN P.IsFixed = 1 THEN 'Fixed' 
					 ELSE null 
				END	
			 +	' - ' 
			 +	CONVERT(varchar(10),P.Term_Years) + 'Y' 
			 +  ' - ' 
			 +	CONVERT(varchar(12),P.PoolDate,107)
			
				as	SummaryString 
	--
	--	
	FROM		hedging.PlannedMBSPool	P	
	--	
	INNER JOIN	hedging.MBSDataSource	S	ON	P.MBSDataSourceID = S.ID	
	--
	;	
	

GO
