USE [TA]
GO
/****** Object:  View [hedging].[vw_MBSCashflowSchedule]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [hedging].[vw_MBSCashflowSchedule] 
AS	
/**************************************************************************************

	Displays calculated "MBS Cashflow Schedule" 
	 by combining related MBSAmortizationSchedule with PrincipalMultiplier 
	  and coupon fields for MBSCashflow records. 

		
		Example:	


			SELECT		*
			FROM		hedging.vw_MBSCashflowSchedule X		
			ORDER BY	X.MBSCashflowID DESC 
			,			X.CashflowDate ASC 
			; 


	Date			Action	
	----------		----------------------------
	2016-05-04		Created initial version. 
	2018-08-02		Migrated from EQDWT01 (Treasury_Analytics). 

**************************************************************************************/	


	SELECT		F.ID			MBSCashflowID	
	--
	,			C.CashflowDate
	--	
	,			X.OpeningPrincipal 
	,			X.PrincipalRepayment 
	--	
	,			X.OpeningPrincipal - X.PrincipalRepayment	
			as	ClosingPrincipal 
	--
	,			Y2.InterestPeriod_StartDate 
	,			Y2.InterestPeriod_EndDate 
	,			Z.InterestPeriod_DayCountFraction 
	,			Z.AnnualFixedRate_Effective 
	--	
	,			Z.InterestPeriod_DayCountFraction * Z.AnnualFixedRate_Effective		
			as	InterestPeriod_FixedRate_Effective
	--	
	,			Z.InterestPeriod_DayCountFraction * Z.AnnualFixedRate_Effective * X.OpeningPrincipal	
			as	InterestPayment
	--	
	FROM		hedging.MBSCashflow							F	
	INNER JOIN	marketinfo.Frequency						CF	ON	F.Compound_FrequencyID = CF.ID 
	INNER JOIN	hedging.MBSAmortizationSchedule				S	ON	F.MBSAmortizationScheduleID = S.ID 
	INNER JOIN	hedging.PlannedMBSPool						P	ON	S.PlannedMBSPoolID = P.ID 
	INNER JOIN	hedging.MBSAmortizationScheduleComponent	C	ON	F.MBSAmortizationScheduleID = C.MBSAmortizationScheduleID 
	--	
	CROSS APPLY ( 
					SELECT	convert(float, C.OpeningPrincipal)   * convert(float, F.PrincipalMultiplier) 	OpeningPrincipal	
					,		convert(float, C.PrincipalRepayment) * convert(float, F.PrincipalMultiplier)	PrincipalRepayment	
				)		
					X	
	CROSS APPLY (
					SELECT	MAX(Cs.CashflowDate)	MaxPrevCashflowDate		
					FROM	hedging.MBSAmortizationScheduleComponent	Cs	
					WHERE	Cs.MBSAmortizationScheduleID = C.MBSAmortizationScheduleID 
					AND		Cs.CashflowDate < C.CashflowDate 
				)	
					Y	
	CROSS APPLY (
					SELECT	dateadd(day,1-day(coalesce(Y.MaxPrevCashFlowDate,P.PoolDate)),coalesce(Y.MaxPrevCashFlowDate,P.PoolDate)) 
							InterestPeriod_StartDate 
					,		dateadd(day,0-day(C.CashflowDate),C.CashflowDate)
							InterestPeriod_EndDate 
					,		'30/360'	InterestPeriod_DayCountConvention_ShortName 
				)	
					Y2	
	CROSS APPLY (
					SELECT	marketinfo.fcn_DayCountFraction ( Y2.InterestPeriod_StartDate 
															, Y2.InterestPeriod_EndDate 
															, Y2.InterestPeriod_DayCountConvention_ShortName )	
								InterestPeriod_DayCountFraction 
					--
					,		CASE WHEN F.AnnualFixedRate IS NULL 
								 THEN NULL 
								 ELSE rate.fcn_CompoundFrequencyConversion_AnnualRate ( F.AnnualFixedRate 
																					  , CF.OneLetterAbbreviation 
																					  , 'M' ) 
							END	 AnnualFixedRate_Effective 
				)		
					Z	
	--	
	;	
	


GO
