USE [TA]
GO
/****** Object:  View [instrument].[vw_Swap]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_Swap] 
AS	
/**************************************************************************************

	Displays Swap records with SwapLeg information. 

		Dependent on instrument.vw_SwapLeg as of 2018-04-25. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_Swap X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-03-22		Created initial version. 
	2016-03-23		Added CurrencyID field to SwapLeg table.
	2016-03-29		Updated to accomodate Swap table structure changes. 
	2016-04-04		Added FirstPaymentDate to SwapLeg table. 
	2018-04-25		Migrated from EQDWT01 with changes. Using vw_SwapLeg to simplify. 

**************************************************************************************/	

	SELECT		S.ID	
	--	
	,			S.StartDate 
	,			S.EndDate 
	--
		/*
			Leg1 fields 
		*/	
	--	
	,			S.Leg1_SwapLegID					
	--	
	,			L1.UseCustomPaymentSchedule 			Leg1_UseCustomPaymentSchedule 
	,			L1.CompoundPeriodsBetweenPayments 		Leg1_CompoundPeriodsBetweenPayments 
	,			L1.FirstPaymentDate						Leg1_FirstPaymentDate
	,			L1.PricingOffset_BusinessDays			Leg1_PricingOffset_BusinessDays
	,			L1.PaymentOffset_BusinessDays			Leg1_PaymentOffset_BusinessDays
	,			L1.Payment_FrequencyID 					Leg1_Payment_FrequencyID 
	,			L1.Payment_Frequency_Name 				Leg1_Payment_Frequency_Name 
	,			L1.Reset_FrequencyID 					Leg1_Reset_FrequencyID 
	,			L1.Reset_Frequency_Name 				Leg1_Reset_Frequency_Name 
	,			L1.BusinessDayCalendarID				Leg1_BusinessDayCalendarID		
	,			L1.BusinessDayCalendar_Name 			Leg1_BusinessDayCalendar_Name 
	,			L1.BusinessDayConventionID				Leg1_BusinessDayConventionID	
	,			L1.BusinessDayConvention_ShortName 		Leg1_BusinessDayConvention_ShortName 
	,			L1.BusinessDayConvention_LongName 		Leg1_BusinessDayConvention_LongName 
	,			L1.DayCountConventionID					Leg1_DayCountConventionID	
	,			L1.DayCountConvention_ShortName 		Leg1_DayCountConvention_ShortName 
	,			L1.CurrencyID							Leg1_CurrencyID		
	,			L1.Currency_ThreeLetterAbbreviation		Leg1_Currency_ThreeLetterAbbreviation	
	--				
	,			L1.AnnualFixedRate 						Leg1_AnnualFixedRate 
	,			L1.FloatingRateIndexID					Leg1_FloatingRateIndexID	
	,			L1.FloatingRateIndex_ShortName 			Leg1_FloatingRateIndex_ShortName 
	,			L1.SpreadToIndexRate 					Leg1_SpreadToIndexRate 
	,			L1.FloorRate 							Leg1_FloorRate 
	,			L1.CeilingRate 							Leg1_CeilingRate 
	,			L1.Compound_FrequencyID					Leg1_Compound_FrequencyID	
	,			L1.Compound_Frequency_Name 				Leg1_Compound_Frequency_Name 
	--
		/*
			Leg2 fields 
		*/	
	--	
	,			S.Leg2_SwapLegID					
	--	
	,			L2.UseCustomPaymentSchedule 			Leg2_UseCustomPaymentSchedule 
	,			L2.CompoundPeriodsBetweenPayments 		Leg2_CompoundPeriodsBetweenPayments 
	,			L2.FirstPaymentDate						Leg2_FirstPaymentDate
	,			L2.PricingOffset_BusinessDays			Leg2_PricingOffset_BusinessDays
	,			L2.PaymentOffset_BusinessDays			Leg2_PaymentOffset_BusinessDays
	,			L2.Payment_FrequencyID 					Leg2_Payment_FrequencyID 
	,			L2.Payment_Frequency_Name 				Leg2_Payment_Frequency_Name 
	,			L2.Reset_FrequencyID 					Leg2_Reset_FrequencyID 
	,			L2.Reset_Frequency_Name 				Leg2_Reset_Frequency_Name 
	,			L2.BusinessDayCalendarID				Leg2_BusinessDayCalendarID		
	,			L2.BusinessDayCalendar_Name 			Leg2_BusinessDayCalendar_Name 
	,			L2.BusinessDayConventionID				Leg2_BusinessDayConventionID	
	,			L2.BusinessDayConvention_ShortName 		Leg2_BusinessDayConvention_ShortName 
	,			L2.BusinessDayConvention_LongName 		Leg2_BusinessDayConvention_LongName 
	,			L2.DayCountConventionID					Leg2_DayCountConventionID	
	,			L2.DayCountConvention_ShortName 		Leg2_DayCountConvention_ShortName 
	,			L2.CurrencyID							Leg2_CurrencyID		
	,			L2.Currency_ThreeLetterAbbreviation		Leg2_Currency_ThreeLetterAbbreviation	
	--				
	,			L2.AnnualFixedRate 						Leg2_AnnualFixedRate 
	,			L2.FloatingRateIndexID					Leg2_FloatingRateIndexID	
	,			L2.FloatingRateIndex_ShortName 			Leg2_FloatingRateIndex_ShortName 
	,			L2.SpreadToIndexRate 					Leg2_SpreadToIndexRate 
	,			L2.FloorRate 							Leg2_FloorRate 
	,			L2.CeilingRate 							Leg2_CeilingRate 
	,			L2.Compound_FrequencyID					Leg2_Compound_FrequencyID	
	,			L2.Compound_Frequency_Name 				Leg2_Compound_Frequency_Name 
	--
	--		
	FROM		instrument.Swap			S	
	--	
	--	
	INNER JOIN	instrument.vw_SwapLeg	L1	ON	S.Leg1_SwapLegID = L1.ID 
	INNER JOIN	instrument.vw_SwapLeg	L2	ON	S.Leg2_SwapLegID = L2.ID 
	--
	--	
	;	


GO
