USE [TA]
GO
/****** Object:  View [instrument].[vw_BondType]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_BondType]  
AS	
/**************************************************************************************

	Displays BondType records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_BondType X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-01-15		Created initial version.	
	2018-01-23		Removed [Expected_BondCouponTypeID] and [Expected_YearlyCouponFrequency] fields. 

**************************************************************************************/	

	SELECT		T.ID	
	--			
	,			T.ShortName 
	,			T.LongName 
	,			T.[Description]		
	--	
	,			T.BondIssuerID									
	,			I.LegalEntityID						BondIssuer_LegalEntityID	
	,			L.ShortName							BondIssuer_LegalEntity_ShortName	
	,			L.LongName							BondIssuer_LegalEntity_LongName	
	--	
	,			T.CurrencyID	
	,			C.ThreeLetterAbbreviation			Currency_ThreeLetterAbbreviation	
	--	
	FROM		instrument.BondType 		T	
	--	
	LEFT  JOIN	instrument.BondIssuer		I	ON	T.BondIssuerID = I.ID	
	LEFT  JOIN	marketinfo.LegalEntity		L	ON	I.LegalEntityID = L.ID	
	--
	LEFT  JOIN	reference.Currency			C	ON	T.CurrencyID = C.ID			
	--
	;	


GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'View of BondType records' , @level0type=N'SCHEMA',@level0name=N'instrument', @level1type=N'VIEW',@level1name=N'vw_BondType'
GO
