USE [TA]
GO
/****** Object:  View [instrument].[vw_Equity]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_Equity] 
AS	
/**************************************************************************************

	Displays Equity records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_Equity  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-07-29		Created initial version.	
	2018-05-29		Migrated from EQDWT01. 
	2018-06-25		Added SummaryString field. 

**************************************************************************************/	

	SELECT		I.ID				
	--
	,			I.CurrencyID				
	,			X.ThreeLetterAbbreviation	Currency_ThreeLetterAbbreviation	
	--
	,			I.Symbol 				
	--	
	,			I.EquityTypeID 
	,			T.[Name]					EquityType_Name		
	--								
	,			I.EquityCompanyID			
	,			C.[Name]					EquityCompany_Name	
	,			E.ID						LegalEntityID	
	,			E.ShortName					LegalEntity_ShortName		
	--
	,			I.BloombergCode 		
	--										
	,			I.Note					
	--
	,			CASE WHEN X.ThreeLetterAbbreviation = 'CAD'		
					 THEN I.Symbol	
					 ELSE X.ThreeLetterAbbreviation + ' : ' + I.Symbol 
				END	as SummaryString	
	--									
	FROM		instrument.Equity			I	
	INNER JOIN	instrument.EquityType		T	ON	I.EquityTypeID = T.ID 
	LEFT  JOIN	instrument.EquityCompany	C	ON	I.EquityCompanyID = C.ID	
	--
	LEFT  JOIN	reference.Currency			X	ON	I.CurrencyID = X.ID		
	LEFT  JOIN	marketinfo.LegalEntity		E	ON	C.LegalEntityID = E.ID 
	--	
	;	
	
	
GO
