USE [TA]
GO
/****** Object:  View [instrument].[vw_SwapLeg]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_SwapLeg] 
AS	
/**************************************************************************************

	Displays SwapLeg records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_SwapLeg  X		
			-- 
			ORDER BY	X.ID	ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-04-25		Created initial version.	

**************************************************************************************/	


	SELECT		L.ID	
	--
	--	 
	,			L.SwapLegRateConfigurationID	
	--	
	,			convert(float,X.AnnualFixedRate)		AnnualFixedRate		
	--	
	,			X.FloatingRateIndexID	
	,			F.ShortName								FloatingRateIndex_ShortName		
	--
	,			convert(float,X.SpreadToIndexRate)		SpreadToIndexRate	
	--
	,			convert(float,X.FloorRate)				FloorRate		
	,			convert(float,X.CeilingRate)			CeilingRate		
	--
	,			X.Compound_FrequencyID 
	,			C.OneLetterAbbreviation					Compound_Frequency_OneLetterAbbreviation		
	,			C.[Name]								Compound_Frequency_Name		
	--	
	--	
	,			L.PricingOffset_BusinessDays	
	,			L.PaymentOffset_BusinessDays	
	--	
	,			L.FirstPaymentDate	
	--	
	,			L.Payment_FrequencyID	
	,			PF.OneLetterAbbreviation				Payment_Frequency_OneLetterAbbreviation		
	,			PF.[Name]								Payment_Frequency_Name	
	--	 
	,			L.Reset_FrequencyID	
	,			RF.OneLetterAbbreviation				Reset_Frequency_OneLetterAbbreviation		
	,			RF.[Name]								Reset_Frequency_Name	
	--
	,			L.BusinessDayCalendarID		
	,			BC.[Name]								BusinessDayCalendar_Name	
	--
	,			L.BusinessDayConventionID	
	,			BD.ShortName							BusinessDayConvention_ShortName		
	,			BD.LongName								BusinessDayConvention_LongName
	--
	,			L.DayCountConventionID	
	,			DC.ShortName							DayCountConvention_ShortName	
	--	
	,			L.CurrencyID	
	,			RC.ThreeLetterAbbreviation				Currency_ThreeLetterAbbreviation	
	--
	--	
	,			L.CompoundPeriodsBetweenPayments	
	--	
	--		
	,			L.UseCustomPaymentSchedule	
	--
	--	
	FROM		instrument.SwapLeg							L	
	--
	LEFT  JOIN	marketinfo.Frequency						PF	ON	L.Payment_FrequencyID = PF.ID 
	LEFT  JOIN	marketinfo.Frequency						RF 	ON	L.Reset_FrequencyID = RF.ID 
	--
	LEFT  JOIN	marketinfo.BusinessDayCalendar				BC	ON	L.BusinessDayCalendarID = BC.ID 
	LEFT  JOIN	marketinfo.BusinessDayConvention			BD	ON	L.BusinessDayConventionID = BD.ID 
	LEFT  JOIN	marketinfo.DayCountConvention				DC	ON	L.DayCountConventionID = DC.ID 
	LEFT  JOIN	reference.Currency							RC	ON	L.CurrencyID = RC.ID 
	--	
	--
	LEFT  JOIN	instrument.SwapLegRateConfiguration			X	ON	L.SwapLegRateConfigurationID = X.ID 
	--			
	LEFT  JOIN	marketinfo.FloatingRateIndex				F	ON	X.FloatingRateIndexID = F.ID	
	LEFT  JOIN	marketinfo.Frequency						C	ON	X.Compound_FrequencyID = C.ID	
	--	
	--	
	;	
	

GO
