USE [TA]
GO
/****** Object:  View [instrument].[vw_EquityCompany]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_EquityCompany]  
AS	
/**************************************************************************************

	Displays EquityCompany records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_EquityCompany X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-05-29		Created initial version.	

**************************************************************************************/	

	SELECT		I.ID				
	--
	,			I.[Name]			
	--
	,			I.LegalEntityID		
	,			L.ShortName			LegalEntity_ShortName	
	,			L.LongName			LegalEntity_LongName	
	--
	FROM		instrument.EquityCompany	I	
	--	
	LEFT  JOIN	marketinfo.LegalEntity		L	ON	I.LegalEntityID = L.ID	
	--	
	;	



GO
