USE [TA]
GO
/****** Object:  View [instrument].[vw_SwapLegCustomPaymentSchedule]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_SwapLegCustomPaymentSchedule] 
AS	
/**************************************************************************************

	Displays SwapLegCustomPaymentSchedule records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_SwapLegCustomPaymentSchedule  X		
			-- 
			ORDER BY	X.SwapLegID		ASC	
			,			X.StartDate		ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-04-25		Created initial version.	

**************************************************************************************/	


	SELECT		S.ID							
	--
	,			S.SwapLegID		
	--
	,			S.PricingDate	
	,			S.StartDate		
	,			S.EndDate	
	,			S.PaymentDate	
	--
	,			convert(float,S.NotionalMultiplier)		NotionalMultiplier	
	--
	,			coalesce(S.SwapLegRateConfigurationID,L.SwapLegRateConfigurationID)		SwapLegRateConfigurationID	
	--
	--	
	,			convert(float,X.AnnualFixedRate)		AnnualFixedRate		
	--	
	,			X.FloatingRateIndexID	
	,			F.ShortName								FloatingRateIndex_ShortName		
	--
	,			convert(float,X.SpreadToIndexRate)		SpreadToIndexRate	
	--
	,			convert(float,X.FloorRate)				FloorRate	
	,			convert(float,X.CeilingRate)			CeilingRate		
	--
	,			X.Compound_FrequencyID 
	,			C.OneLetterAbbreviation					Compound_Frequency_OneLetterAbbreviation		
	,			C.[Name]								Compound_Frequency_Name		
	--	
	--	
	FROM		instrument.SwapLegCustomPaymentSchedule		S	
	INNER JOIN	instrument.SwapLeg							L	ON	S.SwapLegID = L.ID	
	--	
	LEFT  JOIN	instrument.SwapLegRateConfiguration			X	ON	coalesce(S.SwapLegRateConfigurationID,L.SwapLegRateConfigurationID)	= X.ID 
	--			
	LEFT  JOIN	marketinfo.FloatingRateIndex				F	ON	X.FloatingRateIndexID = F.ID	
	LEFT  JOIN	marketinfo.Frequency						C	ON	X.Compound_FrequencyID = C.ID	
	--	
	;	
	

GO
