USE [TA]
GO
/****** Object:  View [instrument].[vw_SwapLegRateConfiguration]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_SwapLegRateConfiguration]  
AS	
/**************************************************************************************

	Displays SwapLegRateConfiguration records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_SwapLegRateConfiguration  X		
			-- 
			ORDER BY	X.ID ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-04-25		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID							
	--				
	,			convert(float,X.AnnualFixedRate)	 AnnualFixedRate		
	--												 
	,			X.FloatingRateIndexID				 
	,			F.ShortName							 FloatingRateIndex_ShortName		
	--												 
	,			convert(float,X.SpreadToIndexRate)	 SpreadToIndexRate	
	--												 
	,			convert(float,X.FloorRate)			 FloorRate	
	,			convert(float,X.CeilingRate)		 CeilingRate	
	--												 
	,			X.Compound_FrequencyID 				 
	,			C.OneLetterAbbreviation				 Compound_Frequency_OneLetterAbbreviation		
	,			C.[Name]							 Compound_Frequency_Name		
	--	
	FROM		instrument.SwapLegRateConfiguration		X		
	--			
	LEFT  JOIN	marketinfo.FloatingRateIndex			F	ON	X.FloatingRateIndexID = F.ID	
	LEFT  JOIN	marketinfo.Frequency					C	ON	X.Compound_FrequencyID = C.ID	
	--	
	;	
	

GO
