USE [TA]
GO
/****** Object:  View [instrument].[vw_Bond]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_Bond] 
AS	
/**************************************************************************************

	Displays Bond records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_Bond X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-01-15		Created initial version.	
	2018-02-21		Migrated from EQDWT01 server with changes. 
	2018-08-27		Uncommented [DealInput_RelevanceRank] field. 
	2019-03-05		Added [BondIssuer_LegalEntityID] field. 

**************************************************************************************/	

	SELECT		B.ID	
	--
	,			B.BondIssuerID	
	,			L.ID							BondIssuer_LegalEntityID	
	,			L.ShortName						BondIssuer_LegalEntity_ShortName	
	,			L.LongName						BondIssuer_LegalEntity_LongName		
	,			B.BondTypeID					
	,			T.ShortName						BondType_ShortName 
	,			T.LongName						BondType_LongName 
	--
	,			B.IssueDate 
	,			B.MaturityDate 
	--
	,			convert(float,B.ParValue)		ParValue	
	--
	,			B.FirstCouponInterestAccrualStartDate 
	,			B.FirstCouponDate 
	--	
	,			B.Coupon_FrequencyID		
	,			Q.OneLetterAbbreviation							Coupon_Frequency_OneLetterAbbreviation	
	,			Q.[Name]										Coupon_Frequency_Name	
	,			convert(float,Q.ApproximatePeriodsPerYear)		Coupon_Frequency_ApproximatePeriodsPerYear	
	--	
	,			convert(float,B.AnnualFixedCouponRate)			AnnualFixedCouponRate
	,			B.FloatingRateIndexID 
	,			F.ShortName										FloatingRateIndex_ShortName 
	,			convert(float,B.SpreadToIndexRate)				SpreadToIndexRate
	,			convert(float,B.FloorRate)						FloorRate
	,			convert(float,B.CeilingRate)					CeilingRate
	--	
	,			B.CurrencyID	
	,			X.ThreeLetterAbbreviation		Currency_ThreeLetterAbbreviation 
	--
	,			B.CUSIP
	,			B.Note	 
	--
	,			T.ShortName 
				+	' - ' + CASE WHEN F.ShortName IS NOT NULL 
								 THEN 'Floating: ' + F.ShortName 
								 ELSE convert(varchar(5),round(B.AnnualFixedCouponRate*convert(float,100.0),2)) + '%' 
							END 
				+	' - ' + LEFT(M.[Name],3) + ' ' + convert(varchar(4),YEAR(B.MaturityDate))  	
				--	
				as	SummaryString 
				--	
	--
	--
	--
	,			DENSE_RANK() OVER ( ORDER BY	CASE WHEN datediff(day,B.IssueDate,convert(date,getdate())) < 180
													 THEN 1 
													 ELSE 0 
												END		DESC	--	issued in past 180 days 
									,			CASE WHEN datediff(day,Z.Latest_TradeDate,convert(date,getdate())) < 180 
													 THEN 1 
													 ELSE 0 
												END		DESC	--	traded in past 180 days		
									--
									--	
									,			coalesce(Z.NumberOfTrades_InPastYear,0) DESC	
																--	number of trades in past year 
									,			B.MaturityDate	DESC   
									,			B.IssueDate		DESC	)	
				--
				--	
				as	DealInput_RelevanceRank
				--
				--	
	--	
	--
	--
	FROM		instrument.Bond					B	
	INNER JOIN	instrument.BondIssuer			I	ON	B.BondIssuerID = I.ID	
	INNER JOIN	marketinfo.LegalEntity			L	ON	I.LegalEntityID = L.ID	
	INNER JOIN	instrument.BondType				T	ON	B.BondTypeID = T.ID		
	INNER JOIN	reference.Currency				X	ON	B.CurrencyID = X.ID 
	--	
	LEFT  JOIN	marketinfo.FloatingRateIndex	F	ON	B.FloatingRateIndexID = F.ID 
	LEFT  JOIN	marketinfo.Frequency			Q	ON	B.Coupon_FrequencyID = Q.ID		
	--
	LEFT  JOIN	reference.[Month]				M	ON	MONTH(B.MaturityDate) = M.Number 
	--
	--
	--
	LEFT  JOIN	(
					SELECT		coalesce(F.BondID,S.BondID)		BondID	
					--
					,			MAX(D.TradeDate)	Latest_TradeDate	
					,			COUNT(*)			NumberOfTrades	
					,			SUM(CASE WHEN D.TradeDate >= DATEADD(year,-1,convert(date,getdate()))
										 THEN 1 
										 ELSE 0 
									END)			NumberOfTrades_InPastYear  
					--			
					FROM		trade.Deal					  D  
					INNER JOIN	trade.DealType				  T  ON  D.DealTypeID = T.ID 
																 AND T.[Name] IN ( 'Bond Forward'
																  			     , 'Spot Bond' )	
																 --
																 AND D.IsActive = 1 
																 -- 
					LEFT  JOIN	trade.DealDetail_BondForward  F  ON  D.ID = F.DealID 
					LEFT  JOIN	trade.DealDetail_SpotBond	  S  ON  D.ID = S.DealID 
					--	
					GROUP BY	coalesce(F.BondID,S.BondID)	
					--	
				)	
					Z	ON	B.ID = Z.BondID 
	--
	;	
	--
	--
	--
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'View of Bond records' , @level0type=N'SCHEMA',@level0name=N'instrument', @level1type=N'VIEW',@level1name=N'vw_Bond'
GO
