USE [TA]
GO
/****** Object:  View [instrument].[vw_BondIssuer]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [instrument].[vw_BondIssuer]  
AS	
/**************************************************************************************

	Displays BondIssuer records. 

		
		Example:	


			SELECT		*
			FROM		instrument.vw_BondIssuer X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-01-15		Created initial version.	

**************************************************************************************/	

	SELECT		I.ID				
	--
	,			I.LegalEntityID		
	,			L.ShortName			LegalEntity_ShortName	
	,			L.LongName			LegalEntity_LongName	
	--
	FROM		instrument.BondIssuer	I	
	INNER JOIN	marketinfo.LegalEntity	L	ON	I.LegalEntityID = L.ID	
	;	



GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'View of BondIssuer records' , @level0type=N'SCHEMA',@level0name=N'instrument', @level1type=N'VIEW',@level1name=N'vw_BondIssuer'
GO
