USE [TA]
GO
/****** Object:  View [LiqPort].[vw_PositionSummary_Cache]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [LiqPort].[vw_PositionSummary_Cache]   
AS	
/**************************************************************************************

	Displays PositionSummary_Cache records. 

		
		Example:	


			SELECT	top 1000  X.*	
			FROM		LiqPort.vw_PositionSummary_Cache  X		
			--	
			ORDER BY	X.PositionDate DESC 
			,			X.ID DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-10-25		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.PositionDate
	--
    ,			X.Category
    ,			X.Subcategory
    ,			X.LineItem
	--
    ,			X.CUSIP
    ,			X.PoolNumber_Numeric
    ,			X.BondTypeID
	,			T.ShortName					BondType_ShortName	
	--
    ,			X.CouponRate
    ,			X.MinSettlementDate
    ,			X.MaturityDate
    ,			X.RedeemableDate
	--
    ,			X.FaceAmount
    ,			X.RemainingPrincipal
    ,			X.MarketValue
    ,			X.AccruedInterest
    ,			X.BookCost
	--
    ,			X.HaircutRate
	--
    ,			X.Issuer_LegalEntityID
	,			L.ShortName					Issuer_LegalEntity_ShortName	
	,			X.Reference_Yield
	--
	FROM		LiqPort.PositionSummary_Cache	X	
	-- 										 	 	 
	LEFT  JOIN	marketinfo.LegalEntity			L	ON	 X.Issuer_LegalEntityID = L.ID	
	LEFT  JOIN	instrument.BondType				T	ON	 X.BondTypeID = T.ID	
	--
	;	
	

GO
