USE [TA]
GO
/****** Object:  View [LiqPort].[vw_MBSIssuer]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_MBSIssuer]	  
AS	
/**************************************************************************************

	Displays MBSIssuer records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_MBSIssuer  X		
			--	
			ORDER BY	X.ID  ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2016-04-19		Created initial version.	
	2018-06-26		Copied from EQDWT01. 		

**************************************************************************************/	

	SELECT		I.ID				
	--
	,			I.LegalEntityID		
	,			L.ShortName			LegalEntity_ShortName	
	,			L.LongName			LegalEntity_LongName	
	--
	,			L.IsInternal
	--
	FROM		LiqPort.MBSIssuer		I	
	INNER JOIN	marketinfo.LegalEntity	L  ON  I.LegalEntityID = L.ID	
	;	
	

GO
