USE [TA]
GO
/****** Object:  View [LiqPort].[vw_CashAccount]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_CashAccount]  
AS	
/**************************************************************************************

	Displays CashAccount records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_CashAccount	 X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-06-11		Created initial version.	

**************************************************************************************/	

	SELECT		A.ID				
	--
	,			A.ShortName		
	,			A.LongName 
	--
	,			A.[Description]		
	--
	,			A.CurrencyID					CurrencyID	
	,			X.ThreeLetterAbbreviation		Currency_ThreeLetterAbbreviation	
	--
	,			A.LegalEntityID		
	,			L.ShortName			LegalEntity_ShortName	
	,			L.LongName			LegalEntity_LongName	
	--
	FROM		LiqPort.CashAccount		A	
	LEFT  JOIN	reference.Currency		X	ON	A.CurrencyID = X.ID		
	LEFT  JOIN	marketinfo.LegalEntity	L	ON	A.LegalEntityID = L.ID	
	--	
	;	
	

GO
