USE [TA]
GO
/****** Object:  View [LiqPort].[vw_InvestmentInstrument]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [LiqPort].[vw_InvestmentInstrument]   
AS	
/**************************************************************************************

	Displays InvestmentInstrument records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_InvestmentInstrument  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-07-04		Created initial version.	
	2018-12-14		Added [BondID], [BondType_ShortName], 
					 [CreditRating_EffectiveDate], & [Rating_SP] fields.  
	2020-05-28		Pulling Credit Ratings from bloomberg tables.
	2022-04-08		Added new field [IsFinancial].
	2022-09-28		Added Moody's Ratings fields.
	2025-06-18      Added AccountingDesignationID field to tell FVtPL from FVtOCI

**************************************************************************************/	

	SELECT		X.ID
	--
    ,			X.CUSIP
	--
	,			X.ShortDescription
	--
	,			X.InvestmentCategoryID
	,			A.[Name]					InvestmentCategory_Name
	--,			A.[Description]				InvestmentCategory_Description
	--
    ,			X.Issuer_LegalEntityID
	,			E.ShortName					Issuer_LegalEntity_ShortName
	,			E.LongName					Issuer_LegalEntity_LongName
    --
    ,			X.CurrencyID
	,			C.ThreeLetterAbbreviation	Currency_ThreeLetterAbbreviation
	--
    ,			convert(float, X.ParValue )				ParValue
	--
    ,			X.RedeemableDate
    ,			X.MaturityDate
	--
    ,			convert(float, X.AnnualFixedRate )		AnnualFixedRate
	,			X.FloatingRateIndexID	
	,			F.ShortName								FloatingRateIndex_ShortName		
	,			F.LongName								FloatingRateIndex_LongName		
	,			convert(float, X.SpreadToIndexRate ) 	SpreadToIndexRate 
	,			convert(float, X.FloorRate ) 			FloorRate 
	,			convert(float, X.CeilingRate )			CeilingRate 		
	--
    ,			X.Compound_FrequencyID				
	,			Q.OneLetterAbbreviation					Compound_Frequency_OneLetterAbbreviation		
	,			Q.[Name]								Compound_Frequency_Name	
	--
    ,			X.Payment_FrequencyID				
	,			P.OneLetterAbbreviation					Payment_Frequency_OneLetterAbbreviation		
	,			P.[Name]								Payment_Frequency_Name	
	--	
	--,			X.InsertBy		
	--,			X.InsertTime	
	--
		--
		--	
	,			CASE WHEN X.AnnualFixedRate IS NOT NULL 
					 THEN CONVERT(varchar(50),convert(float,ROUND(X.AnnualFixedRate*100.0000,2))) + '%' 
					 ELSE F.ShortName 
					 + CASE WHEN X.SpreadToIndexRate >= 0.0000 
					 		THEN ' + ' 
					 		ELSE ' - ' 
					 	END 
					 + CONVERT(varchar(50),convert(float,ROUND(ABS(X.SpreadToIndexRate)*100.0000,2))) + '%' 
				END	

			as	Coupon_Text			
	--
	--	
	,			convert(varchar(10),X.ID) 
				+ ' - ' + A.[Name] 
				+ coalesce(' - ' + E.ShortName,'')	
				+ ' - ' + X.ShortDescription	
				+ ' - ' + coalesce( convert(varchar(10),ROUND(convert(float,100.0)*X.AnnualFixedRate,4)) + '%' , 'Floating' )
				+ coalesce(' - ' + convert(varchar(10),X.MaturityDate),'')	

			as	SummaryString	
		--
		--	
	--
	--	
	,			B.ID				as	BondID	
	,			T.ShortName			as	BondType_ShortName	
	,			CR.EffectiveDate	as	CreditRating_EffectiveDate	
	,			coalesce(BR_SP.RatingCode,CR.Rating_SP)		as	Rating_SP	
	,			BR_DBRS.RatingCode							as	Rating_DBRS		
	,			CRM.Rating_SP								as	Rating_DBRS_SP		
	,			BR_Moody.RatingCode							as	Rating_Moody			--	2022-09-28
	,			CRM_M.Rating_SP								as	Rating_Moody_SP			--	2022-09-28
	--
	,			X.IsFinancial 
	,           R.Rating
	,           X.AccountingDesignationID  --Added 2025-06-18
	--
	--	
	FROM		LiqPort.InvestmentInstrument	X	
	INNER JOIN	LiqPort.InvestmentCategory		A	ON	X.InvestmentCategoryID = A.ID
	INNER JOIN	reference.Currency				C	ON	X.CurrencyID = C.ID
	--
	LEFT  JOIN	marketinfo.LegalEntity			E	ON	X.Issuer_LegalEntityID = E.ID
	--
	LEFT  JOIN	marketinfo.FloatingRateIndex	F	ON	X.FloatingRateIndexID = F.ID
	LEFT  JOIN	marketinfo.Frequency			P	ON	X.Payment_FrequencyID = P.ID	
	LEFT  JOIN	marketinfo.Frequency			Q	ON	X.Compound_FrequencyID = Q.ID
	--
	--	
	OUTER APPLY	( SELECT MAX(B.ID)	BondID	 
				  FROM instrument.Bond	B	
				  WHERE B.CUSIP = X.CUSIP 
				  AND A.[Name] = 'Bond' )	Z	
	LEFT  JOIN	instrument.Bond				B	ON	Z.BondID = B.ID 
												AND A.[Name] = 'Bond'	
	LEFT  JOIN	instrument.BondType			T	ON	B.BondTypeID = T.ID 
	--
	OUTER APPLY ( SELECT MAX(CRx.EffectiveDate) MaxEffectiveDate	
				  FROM LiqPort.InvestmentInstrumentCreditRating CRx		
				  WHERE CRx.InvestmentInstrumentID = X.ID ) CRy		
	LEFT  JOIN	LiqPort.InvestmentInstrumentCreditRating CR  ON  X.ID = CR.InvestmentInstrumentID		
															 AND CRy.MaxEffectiveDate = CR.EffectiveDate	
	--
		--	2020-05-28
		--	S&P
	OUTER APPLY ( SELECT MAX(BRx.EffectiveStartDate) MaxEffectiveDate	
				  FROM bloomberg.vw_SourceBondRating BRx		
				  --	
				  WHERE	BRx.SourceBondRatingIssuer_Name = 'S&P'
				  AND   BRx.CUSIP = X.CUSIP ) BRy_SP		
	LEFT  JOIN	bloomberg.vw_SourceBondRating BR_SP			ON  X.CUSIP = BR_SP.CUSIP		
															AND BRy_SP.MaxEffectiveDate = BR_SP.EffectiveStartDate	
															AND BR_SP.SourceBondRatingIssuer_Name = 'S&P'
		--	DBRS
	OUTER APPLY ( SELECT MAX(BRx.EffectiveStartDate) MaxEffectiveDate	
				  FROM bloomberg.vw_SourceBondRating BRx		
				  --	
				  WHERE	BRx.SourceBondRatingIssuer_Name = 'DBRS'
				  AND   BRx.CUSIP = X.CUSIP ) BRy_DBRS		
	LEFT  JOIN	bloomberg.vw_SourceBondRating BR_DBRS		ON  X.CUSIP = BR_DBRS.CUSIP		
															AND BRy_DBRS.MaxEffectiveDate = BR_DBRS.EffectiveStartDate	
															AND BR_DBRS.SourceBondRatingIssuer_Name = 'DBRS'	
	--
	LEFT  JOIN	marketinfo.CreditRatingMapping CRM			ON	CRM.CreditRatingIssuerID = 2
															AND	CRM.RatingCode = BR_DBRS.RatingCode
	--
		--	//	2020-05-28
	--
		--	2022-09-28
		--	Moody
	OUTER APPLY ( SELECT MAX(BRx.EffectiveStartDate) MaxEffectiveDate	
				  FROM bloomberg.vw_SourceBondRating BRx		
				  --	
				  WHERE	BRx.SourceBondRatingIssuer_Name = 'Moody'
				  AND   BRx.CUSIP = X.CUSIP ) BRy_Moody		
	LEFT  JOIN	bloomberg.vw_SourceBondRating BR_Moody		ON  X.CUSIP = BR_Moody.CUSIP		
															AND BRy_Moody.MaxEffectiveDate = BR_Moody.EffectiveStartDate	
															AND BR_Moody.SourceBondRatingIssuer_Name = 'Moody'	
	
	LEFT  JOIN	marketinfo.CreditRatingMapping CRM_M		ON	CRM_M.CreditRatingIssuerID = 3
															AND	CRM_M.RatingCode = BR_Moody.RatingCode
		--	//	2022-09-28
	--
	--	
	LEFT  JOIN  LiqPort.Investment_MBS_Rating    R           ON X.CUSIP = R.CUSIP
	;	
	

GO
