USE [TA]
GO
/****** Object:  View [LiqPort].[vw_CashAccountBalanceHistory]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_CashAccountBalanceHistory]  
AS	
/**************************************************************************************

	Displays all CashAccountBalanceAdjustment and CashAccountBalanceSnapshot records
	 together with the running total Balance as of each instance. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_CashAccountBalanceHistory	X		
			--
			ORDER BY	X.EffectiveDate						DESC 
			,			X.Account_ShortName					ASC		
			,			X.Currency_ThreeLetterAbbreviation	ASC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2016-04-18		Created initial version.	
	2018-06-13		Migrated from EQDWT01.	

**************************************************************************************/	

	WITH	History		AS	(
								SELECT		X.RecordType 
								,			X.RecordID 
								--
								,			X.CashAccountID  
								,			X.EffectiveDate 
								--
								,			X.[Value] 
								,			X.Note 
								--
								,			X.InsertTime 
								,			X.InsertBy 
								--
								FROM		(
												SELECT		'Adjustment'	as	RecordType 
												,			A.ID			as	RecordID 
												--
												,			A.CashAccountID		
												,			A.EffectiveDate 
												--
												,			A.Amount		as	[Value] 
												,			A.Note			
												--
												,			A.InsertTime 
												,			A.InsertBy 
												--
												FROM		LiqPort.CashAccountBalanceAdjustment	A	

												UNION ALL	

												SELECT		'Snapshot'					as	RecordType 
												,			S.ID						as	RecordID	
												--
												,			S.CashAccountID		
												,			S.EffectiveDate		
												--
												,			S.ClosingBalance			as	[Value]	
												,			S.Note	
												--
												,			S.InsertTime 
												,			S.InsertBy 
												--
												FROM		LiqPort.CashAccountBalanceSnapshot	  S	
											)	
												X	
							)	

	SELECT		H.RecordType 
	,			H.RecordID
	--
	,			H.CashAccountID  
	,			Y.ShortName			CashAccount_ShortName	
	,			Y.LongName			CashAccount_LongName	
	-- 
	,			H.EffectiveDate 
	--	
	,			Y.CurrencyID				
	,			Z.ThreeLetterAbbreviation		Currency_ThreeLetterAbbreviation	
	--	
	,			convert(float,H.[Value])		[Value]		
	--
	,			convert(float, coalesce(E.[Value],0) + coalesce(F.AdjustmentTotal,0) )	 EndOfDay_Balance 
	--			
	,			H.InsertBy 
	,			H.InsertTime 
	--
	FROM		History				 H	
	--
	INNER JOIN	LiqPort.CashAccount  Y	ON	H.CashAccountID = Y.ID 
	LEFT  JOIN	reference.Currency	 Z	ON	Y.CurrencyID = Z.ID 
	--	
	OUTER APPLY	(
					SELECT		Hs.EffectiveDate	
					,			Hs.[Value]	
					--	
					FROM		History		Hs	
					INNER JOIN	(
									SELECT	MAX(Hss.EffectiveDate)	MaxEffectiveDate 
									FROM	History		Hss 
									WHERE	Hss.CashAccountID = H.CashAccountID 
									AND		Hss.RecordType = 'Snapshot' 
									AND		Hss.EffectiveDate <= H.EffectiveDate 
								)	
									X	ON	Hs.CashAccountID = H.CashAccountID 
										AND Hs.RecordType = 'Snapshot' 
										AND Hs.EffectiveDate = X.MaxEffectiveDate 
				)	
					E	
	OUTER APPLY (
					SELECT		SUM(Hs.[Value])	 AdjustmentTotal 
					FROM		History		Hs	
					WHERE		Hs.EffectiveDate > E.EffectiveDate 
					AND			Hs.RecordType = 'Adjustment' 
					AND			Hs.EffectiveDate <= H.EffectiveDate 
					AND			Hs.CashAccountID = H.CashAccountID 
				)	
					F	
	--


GO
