USE [TA]
GO
/****** Object:  View [LiqPort].[vw_InvestmentInstrumentMarketPrice]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_InvestmentInstrumentMarketPrice]	  
AS	
/**************************************************************************************

	Displays InvestmentInstrumentMarketPrice records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_InvestmentInstrumentMarketPrice  X		
			--	
			ORDER BY	X.ID  ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-04-30		Created initial version.		

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.InvestmentInstrumentID	
	,			I.ShortDescription				InvestmentInstrument_ShortDescription	 
	,			I.InvestmentCategory_Name		
	,			I.Issuer_LegalEntity_ShortName
	,			I.MaturityDate					InvestmentInstrument_MaturityDate	
	--
	,			X.EffectiveDate		
	--
	,			X.ValidityEndDate	
	,			convert(float,X.MarketPrice)			as	MarketPrice		
	,			convert(float,X.Reference_ParPrice)		as	Reference_ParPrice	
	--	
	,			convert(float,X.MarketPrice)			
			  /	convert(float,X.Reference_ParPrice)		as	MarketPrice_PerDollarFaceValue 	
	--	
	,			X.Note	
	--
	,			X.InsertTime	
	,			X.InsertBy	 
	--
	FROM		LiqPort.InvestmentInstrumentMarketPrice		X	
	INNER JOIN	LiqPort.vw_InvestmentInstrument				I	ON	X.InvestmentInstrumentID = I.ID 
	--		
	;	
	

GO
