USE [TA]
GO
/****** Object:  View [LiqPort].[vw_InvestmentInstrumentCreditRating]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_InvestmentInstrumentCreditRating]	  
AS	
/**************************************************************************************

	Displays InvestmentInstrumentCreditRating records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_InvestmentInstrumentCreditRating  X		
			--	
			ORDER BY	X.ID  ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-12-13		Created initial version.		
	2018-12-14		Added [IsLatest] column. 

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.InvestmentInstrumentID	
	,			I.ShortDescription				InvestmentInstrument_ShortDescription	 
	,			I.InvestmentCategory_Name		
	,			I.Issuer_LegalEntity_ShortName
	,			I.MaturityDate					InvestmentInstrument_MaturityDate	
	--
	,			X.EffectiveDate		
	,			X.Rating_SP		
	,			X.Note	
	--
	,			C.RankNumber					CreditRating_RankNumber		
	,			C.InvestmentOrJunk	
	--
	,			CASE WHEN X.EffectiveDate = Y.MaxEffectiveDate	
					 THEN 1 
					 ELSE 0 
				END								IsLatest	
	--
	,			X.InsertTime	
	,			X.InsertBy	 
	--
	FROM		LiqPort.InvestmentInstrumentCreditRating	X	
	INNER JOIN	LiqPort.vw_InvestmentInstrument				I	ON	X.InvestmentInstrumentID = I.ID 
	--		
	INNER JOIN	marketinfo.CreditRating						C	ON	X.Rating_SP = C.Rating_SP	
	--
	LEFT  JOIN	(
					SELECT		Xs.InvestmentInstrumentID		
					,			MAX(Xs.EffectiveDate)	MaxEffectiveDate	
					FROM		LiqPort.InvestmentInstrumentCreditRating	Xs	
					GROUP BY	Xs.InvestmentInstrumentID	
				)	
					Y	ON	X.InvestmentInstrumentID = Y.InvestmentInstrumentID		
						AND X.EffectiveDate = Y.MaxEffectiveDate	
	--
	;	
	

GO
