USE [TA]
GO
/****** Object:  View [LiqPort].[vw_CashAccountRate]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [LiqPort].[vw_CashAccountRate]  
AS	
/**************************************************************************************

	Displays CashAccountRate records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_CashAccountRate	 X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-06-11		Created initial version.	
	2021-09-22		Added tier bound columns.

**************************************************************************************/	

	SELECT		R.ID				
	--
	,			R.CashAccountID		
	,			A.ShortName			CashAccount_ShortName	
	,			A.LongName			CashAccount_LongName	
	--
	,			R.EffectiveStartDate 
	--
	,			convert(float,R.AnnualFixedRate)		AnnualFixedRate		
	--	
	,			R.FloatingRateIndexID	
	,			I.ShortName								FloatingRateIndex_ShortName		
	,			convert(float,R.SpreadToIndexRate)		SpreadToIndexRate	
	,			convert(float,R.FloorRate)				FloorRate
	,			convert(float,R.CeilingRate)			CeilingRate
	--
	,			R.Compound_FrequencyID 
	,			F.OneLetterAbbreviation		Compound_Frequency_OneLetterAbbreviation	
	,			R.Payment_FrequencyID	
	,			G.OneLetterAbbreviation		Payment_Frequency_OneLetterAbbreviation		
	--
	,			R.Tier_LowerBound
	,			R.Tier_UpperBound
	--
	FROM		LiqPort.CashAccountRate			R	
	INNER JOIN	LiqPort.CashAccount				A	ON	R.CashAccountID = A.ID	
	--	
	LEFT  JOIN	marketinfo.FloatingRateIndex	I	ON	R.FloatingRateIndexID = I.ID	
	--	
	LEFT  JOIN	marketinfo.Frequency			F	ON	R.Compound_FrequencyID = F.ID	
	LEFT  JOIN	marketinfo.Frequency			G	ON	R.Payment_FrequencyID = G.ID	
	--	
	;	
	

GO
