USE [TA]
GO
/****** Object:  View [LiqPort].[vw_MBSPoolLocationUpdate]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_MBSPoolLocationUpdate]	  
AS	
/**************************************************************************************

	Displays MBSPoolLocationUpdate records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_MBSPoolLocationUpdate  X		
			--	
			ORDER BY	X.ID  ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-06-26		Created initial version.	
	2019-07-15		Added [InsertTime] and [InsertBy] from main underlying table. 	

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.MBSPoolID		
	,			P.PoolNumber_Numeric	
	--
	,			X.EffectiveDate		
	--
	,			X.MBSLocationID		
	,			L.ShortName 		MBSLocation_ShortName 
	,			L.LongName 			MBSLocation_LongName 
	,			L.[Description]		MBSLocation_Description			
	--
	,			X.InsertTime	
	,			X.InsertBy		
	--
	FROM		LiqPort.MBSPoolLocationUpdate	X	
	INNER JOIN	LiqPort.MBSPool					P	ON	X.MBSPoolID = P.ID	
	INNER JOIN	LiqPort.MBSLocation				L	ON	X.MBSLocationID = L.ID	
	--
	;	
	

GO
