USE [TA]
GO
/****** Object:  View [LiqPort].[vw_MBSTransaction]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [LiqPort].[vw_MBSTransaction]   
AS	
/**************************************************************************************

	Displays MBSTransaction records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_MBSTransaction  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-04-25		Created initial version.	
	2018-06-26		Migrated from EQDWT01.		
	2020-01-28		Adding 'Price' and 'AccruedInterest' columns to output
	2021-01-30		Added 3 new columns: [Reference_Yield], [Reference_SpreadToGOC], and [Reference_SpreadToSwap]. 
					LATER: added 4th new column: [Reference_HaircutPercentage]. 
	2021-05-27		Added 1 new column: [IsPrimaryMarket].
	2023-08-10      Added 4 new columns: [DeliveryMethodID],[WhereHeldID],[CUID_ID],[GLGroupID],[IsPRA]
	2023-08-10      Added 1 new columns: [IsPRA]
	2023-12-28      Added 1 new column: [CUID]
	2024-09-26      Added 1 new column: [IIROCReporting] 
    2025-03-03      Added 3 new columns: [TradeStage, ValidatedBy, ValidationTime]
**************************************************************************************/	

	SELECT		X.ID	
	--
	,			X.MBSTransactionTypeID	
	,			T.[Name]						MBSTransactionType_Name 
	--		
	,			X.MBSPoolID						
	,			Cs.PoolNumber_Text 
	,			P.PoolNumber_Numeric			
	--	
	,			P.CUSIP							MBSPool_CUSIP	
	,			P.IssueDate						MBSPool_IssueDate	
	,			P.MaturityDate					MBSPool_MaturityDate	
	--	
	,			X.TransactionDate 
	,			X.SettlementDate 
	--	
	,			convert(float, X.FaceAmount 	)		FaceAmount 	
	,			convert(float, X.CashAmount		)		CashAmount 
	--
	,			X.Counterparty_LegalEntityID	
	,			C.ShortName								Counterparty_LegalEntity_ShortName	
	--		
	,			X.Note 
	--
	,			X.InvestmentBookID	
	,			B.[Name]						InvestmentBook_Name	
	--
	,			X.Price				
	,			X.AccruedInterest		
	--
	,			X.IsPrimaryMarket
	,			X.BookID
	--
	,           X.DeliveryMethodID
	,           X.WhereHeldID
	,           X.CUID_ID
	,           D.CUID  --2023-12-28
	,           X.GLGroupID
	,           G.Name   AS GLGroup_Name  --2024-01-18
	,           X.IIROCReporting
	,           X.CurrentIIROCTradeid
	,           X.PreviousIIROCTradeid
	--
	,           X.IsPRA
	--
	,			X.ApprovedByReviewer	
	,			X.ApprovalTime			
	,			X.ApprovalBy			
	--
	,			X.InsertBy 
	,			X.InsertTime 
	,			X.UpdateTime 
	,			X.Updateby
	--
    ,			convert(float, X.Reference_Yield		   )	Reference_Yield
    ,			convert(float, X.Reference_SpreadToGOC	   )	Reference_SpreadToGOC
    ,			convert(float, X.Reference_SpreadToSwap	   )	Reference_SpreadToSwap
	--
    ,			convert(float, X.Reference_HaircutPercentage )	Reference_HaircutPercentage
    ,           TradeStage
    ,           ValidationTime
    ,           ValidatedBy
	--

	FROM		LiqPort.MBSTransaction		 X	
	INNER JOIN	LiqPort.MBSTransactionType	 T	 ON	 X.MBSTransactionTypeID = T.ID		
	INNER JOIN	LiqPort.MBSPool				 P	 ON	 X.MBSPoolID = P.ID	
	-- 										 	 	 
	LEFT  JOIN	marketinfo.LegalEntity		 C	 ON	 X.Counterparty_LegalEntityID = C.ID	
	--										 	 	 
	LEFT  JOIN	LiqPort.InvestmentBook		 B	 ON	 X.InvestmentBookID = B.ID		
	LEFT  JOIN  LiqPort.CUID                 D   ON  X.CUID_ID = D.ID   --2023-12-28
	LEFT  JOIN  LiqPort.GLGroup              G   ON  X.GLGroupID = G.ID --2024-01-18
	--
	OUTER APPLY	(
					SELECT	CASE WHEN LEN(TRY_CONVERT(varchar(20),P.PoolNumber_Numeric)) = 8 
								 THEN LEFT(TRY_CONVERT(varchar(20),P.PoolNumber_Numeric),3)
								  + '-' + RIGHT(LEFT(TRY_CONVERT(varchar(20),P.PoolNumber_Numeric),5),2)
								  + '-' + RIGHT(TRY_CONVERT(varchar(20),P.PoolNumber_Numeric),3) 
								 ELSE TRY_CONVERT(varchar(20),P.PoolNumber_Numeric) 
							END	 as	 PoolNumber_Text		
				)	
					Cs 	
	--
	;	

	

GO
