USE [TA]
GO
/****** Object:  View [LiqPort].[vw_MBSPool]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [LiqPort].[vw_MBSPool]   
AS	
/**************************************************************************************

	Displays MBSPool records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_MBSPool  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-04-19		Created initial version.	
	2018-06-26		Migrated from EQDWT01.		

**************************************************************************************/	

	SELECT		X.ID	
	--
	,			Cs.PoolNumber_Text 		
	,			X.PoolNumber_Numeric	
	--
	,			X.CUSIP		
	--		
	,			X.MBSIssuerID						
	,			I.LegalEntityID			MBSIssuer_LegalEntityID		
	,			E.ShortName				MBSIssuer_LegalEntity_ShortName		
	,			E.LongName				MBSIssuer_LegalEntity_LongName		
	--
	,			X.IssueDate 
	,			X.MaturityDate 
	,			convert(float, X.FaceAmount)		FaceAmount	
	--	
	--
	,			X.Payment_FrequencyID				
	,			P.OneLetterAbbreviation					Payment_Frequency_OneLetterAbbreviation		
	,			P.[Name]								Payment_Frequency_Name	
	--
	,			convert(float, X.AnnualFixedRate )		AnnualFixedRate
	,			X.FloatingRateIndexID	
	,			F.ShortName								FloatingRateIndex_ShortName		
	,			F.LongName								FloatingRateIndex_LongName		
	,			convert(float, X.SpreadToIndexRate ) 	SpreadToIndexRate 
	,			convert(float, X.FloorRate ) 			FloorRate 
	,			convert(float, X.CeilingRate )			CeilingRate 		
	--
	,			X.Compound_FrequencyID				
	,			Q.OneLetterAbbreviation					Compound_Frequency_OneLetterAbbreviation		
	,			Q.[Name]								Compound_Frequency_Name	
	--
	--
	,			X.Original_MBSLocationID			
	,			L.ShortName							MBSLocation_ShortName	
	,			L.LongName							MBSLocation_LongName	
	,			L.[Description]						MBSLocation_Description		
	--
	,			X.Note	
	--
	--	
	,			CASE WHEN X.AnnualFixedRate IS NOT NULL 
					 THEN convert(varchar(10),ROUND(X.AnnualFixedRate*convert(float,100.0),2))
						+ CASE WHEN convert(varchar(10),ROUND(X.AnnualFixedRate*convert(float,100.0),2)) LIKE '%.%'
							   THEN CASE LEN(convert(varchar(10),ROUND(X.AnnualFixedRate*convert(float,100.0),2))) 
									  WHEN 3 THEN '0' 
									  --WHEN 4 THEN '0' 
									  ELSE '' 
									END 
							   ELSE CASE LEN(convert(varchar(10),ROUND(X.AnnualFixedRate*convert(float,100.0),2))) 
									  WHEN 1 THEN '.00' 
									  WHEN 2 THEN '.0' 
									  ELSE '' 
									END  
						  END 
						+ '%' 
					 ELSE 'FLOAT'
				END + ' ' + replace(convert(varchar(10),X.MaturityDate,110),'-','/') + ' POOL#' + Cs.PoolNumber_Text  

				as	SummaryString 
	,           R.Rating
	--	
	--,			X.InsertBy 
	--,			X.InsertTime 
	--
	FROM		LiqPort.MBSPool					X	
	INNER JOIN	LiqPort.MBSIssuer				I	 ON	 X.MBSIssuerID = I.ID		
	INNER JOIN	marketinfo.LegalEntity			E	 ON	 I.LegalEntityID = E.ID	
	--	
	INNER JOIN	LiqPort.MBSLocation				L	 ON	 X.Original_MBSLocationID = L.ID	
	-- 										 	 	 
	LEFT  JOIN	marketinfo.FloatingRateIndex	F	 ON	 X.FloatingRateIndexID = F.ID	
	LEFT  JOIN	marketinfo.Frequency			P	 ON	 X.Payment_FrequencyID = P.ID	
	LEFT  JOIN	marketinfo.Frequency			Q	 ON	 X.Compound_FrequencyID = Q.ID	
	--
	OUTER APPLY	(
					SELECT	CASE WHEN LEN(TRY_CONVERT(varchar(20),X.PoolNumber_Numeric)) = 8 
								 THEN LEFT(TRY_CONVERT(varchar(20),X.PoolNumber_Numeric),3)
								  + '-' + RIGHT(LEFT(TRY_CONVERT(varchar(20),X.PoolNumber_Numeric),5),2)
								  + '-' + RIGHT(TRY_CONVERT(varchar(20),X.PoolNumber_Numeric),3) 
								 ELSE TRY_CONVERT(varchar(20),X.PoolNumber_Numeric) 
							END	 as	 PoolNumber_Text		
				)	
					Cs		
	--
	LEFT  JOIN  LiqPort.Investment_MBS_Rating    R           ON X.CUSIP = R.CUSIP
	;	
	

GO
