USE [TA]
GO
/****** Object:  View [LiqPort].[vw_CashAccountBalanceAdjustment]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_CashAccountBalanceAdjustment]  
AS	
/**************************************************************************************

	Displays CashAccountBalanceAdjustment records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_CashAccountBalanceAdjustment	 X		
			ORDER BY	X.ID DESC  
			;	


	Date			Action	
	----------		----------------------------
	2016-04-18		Created initial version.	
	2018-06-11		Copied from EQDWT01.	

**************************************************************************************/	

	SELECT		Z.ID				
	--
	,			Z.CashAccountID		
	,			A.ShortName			CashAccount_ShortName	
	,			A.LongName			CashAccount_LongName	
	--
	,			A.CurrencyID	
	,			X.ThreeLetterAbbreviation		Currency_ThreeLetterAbbreviation		
	--
	,			Z.EffectiveDate		
	--
	,			convert(float,Z.Amount)			Amount	
	--
	,			Z.Note	
	--
	FROM		LiqPort.CashAccountBalanceAdjustment	Z		
	INNER JOIN	LiqPort.CashAccount						A	ON	Z.CashAccountID = A.ID	
	--	
	LEFT  JOIN	reference.Currency		X	ON	A.CurrencyID = X.ID		
	--	
	;	
	

GO
