USE [TA]
GO
/****** Object:  View [LiqPort].[vw_HaircutAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_HaircutAssumption]  
AS	
/**************************************************************************************

	Displays HaircutAssumption records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_HaircutAssumption	 X		
			WHERE		X.IsLatest = 1 
			ORDER BY	X.HaircutType_Name ASC
			,			X.HaircutTerm_Name ASC	 
			;	


	Date			Action	
	----------		----------------------------
	2018-07-24		Created initial version.	

**************************************************************************************/	

	SELECT		A.ID	
	--
	,			A.EffectiveStartDate	
	--	
	,			A.HaircutTypeID		
	,			Y.[Name]			as	HaircutType_Name	
	--
	,			A.HaircutTermID		
	,			T.[Name]			as	HaircutTerm_Name	
	,			T.LowerBound_Term_Years		
	,			T.UpperBound_Term_Years		
	--
	,			convert(float,A.HaircutRate)	as	HaircutRate		
	--
	,			CASE WHEN A.EffectiveStartDate = M.MaxEffectiveStartDate	
					 THEN 1 
					 ELSE 0 
				END					as	IsLatest	
	--
	FROM		LiqPort.HaircutAssumption		A		
	--
	INNER JOIN	LiqPort.HaircutTerm 			T	ON	A.HaircutTermID = T.ID	
	INNER JOIN	LiqPort.HaircutType 			Y	ON	A.HaircutTypeID = Y.ID	
	--	
	LEFT  JOIN	(
					SELECT		Ax.HaircutTypeID	
					,			Ax.HaircutTermID	
					,			MAX(Ax.EffectiveStartDate)	MaxEffectiveStartDate		
					FROM		LiqPort.HaircutAssumption	Ax	
					GROUP BY	Ax.HaircutTypeID	
					,			Ax.HaircutTermID	
				)	
					M	ON	A.HaircutTypeID = M.HaircutTypeID
						AND A.HaircutTermID = M.HaircutTermID
						--
						AND A.EffectiveStartDate = M.MaxEffectiveStartDate 
						--
	--		
	;	
	

GO
