USE [TA]
GO
/****** Object:  View [LiqPort].[vw_CashAccountBalanceSnapshot]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [LiqPort].[vw_CashAccountBalanceSnapshot]  
AS	
/**************************************************************************************

	Displays CashAccountBalanceSnapshot records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_CashAccountBalanceSnapshot	 X		
			ORDER BY	X.ID DESC  
			;	


	Date			Action	
	----------		----------------------------
	2016-04-18		Created initial version.	
	2018-06-11		Copied from EQDWT01.	

**************************************************************************************/	

	SELECT		S.ID				
	--
	,			S.CashAccountID		
	,			A.ShortName			CashAccount_ShortName	
	,			A.LongName			CashAccount_LongName	
	--
	,			A.CurrencyID	
	,			X.ThreeLetterAbbreviation		Currency_ThreeLetterAbbreviation		
	--
	,			S.EffectiveDate		
	--
	,			convert(float,S.ClosingBalance)		ClosingBalance	
	--
	,			S.Note	
	--
	FROM		LiqPort.CashAccountBalanceSnapshot		S	
	INNER JOIN	LiqPort.CashAccount						A	ON	S.CashAccountID = A.ID	
	--	
	LEFT  JOIN	reference.Currency		X	ON	A.CurrencyID = X.ID		
	--	
	;	
	

GO
