USE [TA]
GO
/****** Object:  View [LiqPort].[vw_InvestmentTransaction]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [LiqPort].[vw_InvestmentTransaction]   
AS	
/**************************************************************************************

	Displays InvestmentTransaction records. 

		
		Example:	


			SELECT		*
			FROM		LiqPort.vw_InvestmentTransaction  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-07-04		Created initial version.	
	2018-10-25		Removed [Reference_SpreadToBenchmark] column. 
					Added [Reference_SpreadToGOC] and [Reference_SpreadToSwap] columns. 
	2021-01-30		Added 1 new column: [Reference_HaircutPercentage]. 
	2021-05-27		Added 2 new columns: [Price] , [IsPrimaryMarket].
	2023-08-10      Added 4 new columns: [DeliveryMethodID],[WhereHeldID],[CUID_ID],[GLGroupID]
	2024-01-03      Added 1 new column: [CUID]
	2024-09-26      Added 1 new column: [IIROCReporting]  
    2025-03-03      Added 3 new columns: [TradeStage, ValidatedBy, ValidationTime]
**************************************************************************************/	

	SELECT		X.ID
	--
    ,			X.InvestmentTransactionTypeID
	,			T.[Name]							InvestmentTransactionType_Name
	--
    ,			X.InvestmentInstrumentID
	,			I.InvestmentCategoryID	
	,			Y.[Name]							InvestmentCategory_Name		
	--
	,			I.ShortDescription					Instrument_ShortDescription	
	,			I.CUSIP								Instrument_CUSIP
	,			I.RedeemableDate					Instrument_RedeemableDate
	,			I.MaturityDate						Instrument_MaturityDate
	,			I.Issuer_LegalEntityID				Instrument_Issuer_LegalEntityID		
	,			E.ShortName							Instrument_Issuer_LegalEntity_ShortName		
	--
    ,			convert(float, I.AnnualFixedRate )		Instrument_AnnualFixedRate
	,			I.FloatingRateIndexID					Instrument_FloatingRateIndexID	
	,			F.ShortName								Instrument_FloatingRateIndex_ShortName		
    ,			convert(float, I.SpreadToIndexRate )	Instrument_SpreadToIndexRate
	--
    ,			X.TransactionDate
    ,			X.SettlementDate
	--
    ,			convert(float, X.FaceAmount )		FaceAmount
    ,			convert(float, X.CashAmount )		CashAmount
	--
    ,			X.Counterparty_LegalEntityID
	,			C.ShortName							Counterparty_LegalEntity_ShortName
	--
    ,			X.Note
	--
    ,			convert(float, X.Reference_AccruedInterest )	Reference_AccruedInterest
    ,			convert(float, X.Reference_Yield		   )	Reference_Yield
    ,			convert(float, X.Reference_SpreadToGOC	   )	Reference_SpreadToGOC
    ,			convert(float, X.Reference_SpreadToSwap	   )	Reference_SpreadToSwap
	--
    ,			convert(float, X.Reference_HaircutPercentage )	Reference_HaircutPercentage
	--
	,			convert(float, X.Price )						Price
	,			X.IsPrimaryMarket								IsPrimaryMarket
	,			X.BookID
	--
    ,			X.InvestmentBookID
	,			B.[Name]						InvestmentBook_Name
	--
	,           X.DeliveryMethodID
	,           X.WhereHeldID
	,           X.CUID_ID
	,           D.CUID   --2024-01-03
	,           X.GLGroupID
	,           X.IIROCReporting
	,			X.CurrentIIROCTradeid
	,           X.PreviousIIROCTradeid 
	--
    ,			X.ApprovedByReviewer
    ,			X.ApprovalTime
    ,			X.ApprovalBy 
	--
	,			X.InsertBy 
	,			X.InsertTime 
	,			X.UpdateTime
	,			X.Updateby
    ,           X.TradeStage
    ,           X.ValidatedBy
    ,           X.ValidationTime
	--
	FROM		LiqPort.InvestmentTransaction		X	
	INNER JOIN	LiqPort.InvestmentTransactionType	T	ON  X.InvestmentTransactionTypeID = T.ID
	--
	INNER JOIN	LiqPort.InvestmentInstrument		I	ON  X.InvestmentInstrumentID = I.ID
	INNER JOIN	LiqPort.InvestmentCategory			Y	ON	I.InvestmentCategoryID = Y.ID	
	--
	LEFT  JOIN	marketinfo.LegalEntity				E	ON	I.Issuer_LegalEntityID = E.ID 
	LEFT  JOIN	marketinfo.LegalEntity				C	ON	X.Counterparty_LegalEntityID = C.ID
	--
	LEFT  JOIN	LiqPort.InvestmentBook				B	ON	X.InvestmentBookID = B.ID
	--
	LEFT  JOIN  LiqPort.CUID                        D   ON  X.CUID_ID = D.ID  --2024-01-03
	--
	LEFT  JOIN	marketinfo.FloatingRateIndex		F	ON	I.FloatingRateIndexID = F.ID 
	--
	;	
	

GO
