USE [TA]
GO
/****** Object:  View [liquidity].[vw_MBSRepo_ValuationComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_MBSRepo_ValuationComponent] 	  
AS	
/**************************************************************************************

	Displays MBSRepo_ValuationComponent records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_MBSRepo_ValuationComponent  X
			--			
			ORDER BY	X.ValuationDate					DESC	 
			,			ABS(X.ShockAmount_BasisPoints)	ASC		
			,			X.ShockAmount_BasisPoints		ASC		
			--	
			,			X.Sale_MBSTransactionID			ASC			
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-08-10		Created initial version.	

**************************************************************************************/	


	SELECT		C.ID	
	--
	,			C.MBSRepo_ValuationID	
	,			V.ValuationDate
	,			V.ShockAmount_BasisPoints	
	--
	,			C.Sale_MBSTransactionID		
	,			C.Purchase_MBSTransactionID		
	--
	,			E.ID			Counterparty_LegalEntityID	
	,			E.ShortName		Counterparty_LegalEntity_ShortName	
	--
	,			S.TransactionDate			TradeDate	
	,			M.PoolNumber_Numeric			
	,			S.SettlementDate			Sale_SettlementDate			
	,			P.SettlementDate			Purchase_SettlementDate		
	--	
	,			S.FaceAmount	
	,			S.CashAmount				Sale_CashAmount 
	,			P.CashAmount				Purchase_CashAmount		
	--
	,			C.Est_MarkToMarket			
	--
	FROM		liquidity.MBSRepo_Valuation				V	
	INNER JOIN	liquidity.MBSRepo_ValuationComponent	C	ON	V.ID = C.MBSRepo_ValuationID	
	--
	INNER JOIN	LiqPort.MBSTransaction					S	ON	C.Sale_MBSTransactionID = S.ID	
	INNER JOIN	LiqPort.MBSTransaction					P	ON	C.Purchase_MBSTransactionID = P.ID	
	--
	INNER JOIN	LiqPort.MBSPool							M	ON	S.MBSPoolID = M.ID	
	--	
	LEFT  JOIN	marketinfo.LegalEntity					E	ON	S.Counterparty_LegalEntityID = E.ID		
	--
	;	
		

GO
