USE [TA]
GO
/****** Object:  View [liquidity].[vw_BusinessPlanLineItem]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_BusinessPlanLineItem]  
AS	
/**************************************************************************************

	Displays BusinessPlanLineItem records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_BusinessPlanLineItem  X		
			ORDER BY	X.ID ASC	
			;	


	Date			Action	
	----------		----------------------------
	2018-06-16		Created initial version.	

**************************************************************************************/	


	SELECT		I.ID							
	--				
	,			I.BusinessPlanLineItemCategoryID 
	,			C.[Name]		Category	
	--
	,			I.ShortName		
	,			I.LongName	
	--
	,			I.[Description]		
	,			I.Note	
	--
	,			I.DataSource_MonthlyProjection	
	--	
	FROM		liquidity.BusinessPlanLineItem			I	
	INNER JOIN	liquidity.BusinessPlanLineItemCategory	C	ON	I.BusinessPlanLineItemCategoryID = C.ID 
	--	
	;	
	

GO
