USE [TA]
GO
/****** Object:  View [liquidity].[vw_BusinessPlanMonthlyProjection]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_BusinessPlanMonthlyProjection]  
AS	
/**************************************************************************************

	Displays BusinessPlanMonthlyProjection records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_BusinessPlanMonthlyProjection  X		
			--	 
			ORDER BY	X.EffectiveDate				DESC	
			,			X.BusinessPlanLineItemID	ASC		
			,			X.BusinessPlanRecordTypeID	ASC		
			,			X.CalendarYear				ASC		
			,			X.MonthNumber				ASC		
			--	
			;												


	Date			Action	
	----------		----------------------------
	2018-06-16		Created initial version.	

**************************************************************************************/	


	SELECT		P.ID							
	--
	,			P.BusinessPlanLineItemID	
	,			I.BusinessPlanLineItemCategoryID	
	,			C.[Name]		LineItemCategory	
	,			I.ShortName		LineItem_ShortName	
	,			I.LongName		LineItem_LongName	
	--
	,			P.CalendarYear	
	,			P.MonthNumber	
	--
	,			U.CalendarMonth_FOMDate		
	,			dateadd(day,-1,DATEADD(month,1,U.CalendarMonth_FOMDate))	as	CalendarMonth_EOMDate		
	--
	,			P.EffectiveDate		
	--	
	,			P.BusinessPlanRecordTypeID	
	,			T.OneLetterAbbreviation			RecordType_OneLetterAbbreviation	
	,			T.[Name]						RecordType_Name		
	--
	,			P.CashflowAmount	
	,			P.Note	
	--	
	--
	,			P.UpdateTime	
	,			P.UpdateBy 
	--
	--	
	FROM		liquidity.BusinessPlanMonthlyProjection		P		
	--	
	INNER JOIN	liquidity.BusinessPlanLineItem				I	ON	P.BusinessPlanLineItemID = I.ID 
	INNER JOIN	liquidity.BusinessPlanLineItemCategory		C	ON	I.BusinessPlanLineItemCategoryID = C.ID 
	--
	INNER JOIN	liquidity.BusinessPlanRecordType			T	ON	P.BusinessPlanRecordTypeID = T.ID	
	--
	OUTER APPLY	(
					SELECT	DATEFROMPARTS( P.CalendarYear 
										 , P.MonthNumber 
										 , 1 )		
						as	CalendarMonth_FOMDate	
				)		
					U	
	--	
	;	
	

GO
