USE [TA]
GO
/****** Object:  View [liquidity].[vw_LCR_OSFIWeight]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_LCR_OSFIWeight]  
AS	
/**************************************************************************************

	Displays LCR_OSFIWeight records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_LCR_OSFIWeight  X		
			ORDER BY	X.ID ASC	
			;	


	Date			Action	
	----------		----------------------------
	2018-08-14		Created initial version.	

**************************************************************************************/	


	SELECT		W.ID	
	--
	,			W.LCR_OSFILineItemID
	--
	,			O.Label		
	,			O.Note		
	--	
	,			W.EffectiveStartDate	
	,			convert(float,W.WeightValue)	as	WeightValue		 
	--
	,			CASE WHEN X.MaxEffectiveStartDate = W.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END								as	IsLatest	 	
	--
	FROM		liquidity.LCR_OSFIWeight	W	
	INNER JOIN	liquidity.LCR_OSFILineItem	O  ON  W.LCR_OSFILineItemID = O.ID		
	--
	OUTER APPLY (
					SELECT	MAX(Ws.EffectiveStartDate)	MaxEffectiveStartDate	
					FROM	liquidity.LCR_OSFIWeight	Ws	
					WHERE	Ws.LCR_OSFILineItemID = W.LCR_OSFILineItemID 
				)	
					X	
	--	
	;	
	

GO
