USE [TA]
GO
/****** Object:  View [liquidity].[vw_LCR_EQBtoOSFIMapping]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_LCR_EQBtoOSFIMapping]  
AS	
/**************************************************************************************

	Displays LCR_EQBtoOSFIMapping records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_LCR_EQBtoOSFIMapping  X		
			ORDER BY	X.ID ASC	
			;	


	Date			Action	
	----------		----------------------------
	2018-08-14		Created initial version.	

**************************************************************************************/	


	SELECT		W.ID	
	--
	,			W.EffectiveStartDate	
	,			W.EffectiveEndDate		
	--
	,			W.LCR_OSFILineItemID	
	,			O.Label					as	LCR_OSFILineItem_Label	
	,			W.LCR_EQBLineItemID		
	,			E.Number				as	LCR_EQBLineItem_Number	
	,			E.Note					as	LCR_EQBLineItem_Note		
	--
	,			W.NumeratorOrDenominator	
	--	
	,			W.IsNegated		
	--	
	,			W.CeilingValue	
	,			W.FloorValue	
	--
	FROM		liquidity.LCR_EQBtoOSFIMapping	W	
	--	
	INNER JOIN	liquidity.LCR_OSFILineItem		O  ON  W.LCR_OSFILineItemID = O.ID		
	INNER JOIN	liquidity.LCR_EQBLineItem		E  ON  W.LCR_EQBLineItemID = E.ID		
	--	
	;	
	

GO
