USE [TA]
GO
/****** Object:  View [liquidity].[vw_DepositBalanceSummary_ResultCache]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [liquidity].[vw_DepositBalanceSummary_ResultCache]  
AS	
/**************************************************************************************

	Displays DepositBalanceSummary_ResultCache records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_DepositBalanceSummary_ResultCache  X		
			--	 
			ORDER BY	X.EffectiveDate				DESC
			,			X.MonthEnd					DESC
			,			X.Product					ASC	
			,			X.SimplifiedOwnerType		ASC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-07-09		Created initial version.	
	2020-02-14		Adding Currency fields.
	2020-02-19		Adding Converted Balance fields.
	2020-02-20		Adjusted to use latest FX rate available.
	2021-02-06		Changed data-source of USD/CAD FX rates to [PD1].[BOC] (source: Bank of Canada website) from [TA].[bloomberg]. 
	2022-01-12		Switched from BoC FX rates to Bloomberg rates.

**************************************************************************************/	


	SELECT		X.ID							
	--
	,			X.EffectiveDate
    ,			X.MonthEnd
	--	
    ,			X.Product
    ,			X.SimplifiedOwnerType
	--
	,			X.CurrencyID
	,			C.ThreeLetterAbbreviation	as	Currency_ThreeLetterAbbreviation
	--	
    ,			Y.Principal_Insured			as	Principal_Insured	 
    ,			Y.Interest_Insured			as	Interest_Insured	 
    ,			Y.Principal_Uninsured		as	Principal_Uninsured 
    ,			Y.Interest_Uninsured		as	Interest_Uninsured	 
	--
	,			coalesce(FX.RateQuote,1.0000)					        as	FX_Rate
	--																								  
    ,			Y.Principal_Insured * coalesce(FX.RateQuote,1.0000)     as  Principal_Insured_CAD	  
    ,			Y.Interest_Insured * coalesce(FX.RateQuote,1.0000)      as  Interest_Insured_CAD	  
    ,			Y.Principal_Uninsured * coalesce(FX.RateQuote,1.0000)   as  Principal_Uninsured_CAD   
    ,			Y.Interest_Uninsured * coalesce(FX.RateQuote,1.0000)    as  Interest_Uninsured_CAD	  
	--																								  
	,			Z.Total_Insured 																	  
	,			Z.Total_Uninsured																	  
	--																								  
	,			Z.Principal_Total
	,			Z.Interest_Total 
	--
	,			CASE WHEN Z.Total_Insured + Z.Total_Uninsured <= 0.0001 
					 THEN NULL 
					 --
					 ELSE Z.Total_Insured / ( Z.Total_Insured + Z.Total_Uninsured )		
				END		
						as	Percentage_Insured	
	--
	,			CASE WHEN Z.Total_Insured + Z.Total_Uninsured <= 0.0001 
					 THEN NULL 
					 --
					 ELSE Z.Total_Uninsured / ( Z.Total_Insured + Z.Total_Uninsured )		
				END		
						as	Percentage_Uninsured	
	--
    ,			X.NumberOfOwners_Under100k
    ,			X.NumberOfOwners_Over100k
	,			X.NumberOfOwners_Under100k + X.NumberOfOwners_Over100k	as	NumberOfOwners_Total			
	--	
	FROM		liquidity.DepositBalanceSummary_ResultCache	 X		
	INNER JOIN	reference.Currency							 C	ON	X.CurrencyID = C.ID
	--	
	OUTER APPLY	(
					SELECT	convert(float, X.Principal_Insured	 )	as	Principal_Insured	 
					,		convert(float, X.Interest_Insured	 )	as	Interest_Insured	 
					,		convert(float, X.Principal_Uninsured )	as	Principal_Uninsured 
					,		convert(float, X.Interest_Uninsured	 )	as	Interest_Uninsured	 
					--	
				)	
					Y	
	OUTER APPLY	(
					SELECT	Y.Principal_Insured	+ Y.Interest_Insured	  as  Total_Insured	
					,		Y.Principal_Uninsured + Y.Interest_Uninsured  as  Total_Uninsured	
					--
					,		Y.Principal_Insured	+ Y.Principal_Uninsured   as  Principal_Total			
					,		Y.Interest_Insured + Y.Interest_Uninsured	  as  Interest_Total	
					--	
				)	
					Z	
	--
	OUTER APPLY (
					SELECT	FX_s.CURRENCY_SYSTEM 
					,		FX_s.EffectiveDate_ET 
					,		FX_s.RateQuote 
					-- 
					FROM	(
								SELECT		'USD/CAD'  as  CURRENCY_SYSTEM 
								,			ER_s.EffectiveDate_ET 
								,			ER_s.RateQuote 
								--	
								FROM		PD1.BOC.ExchangeRate  ER_s 
								INNER JOIN	(
												SELECT	USDCAD_BASE.ID    as  BASE_ID 
												,		USDCAD_TARGET.ID  as  TARGET_ID 
												-- 
												,		MAX(ER_t.EffectiveDate_ET)  as  MAX_EffectiveDate_ET 
												-- 
												FROM	PD1.BOC.ExchangeRateCurrency	USDCAD_BASE 
												INNER JOIN PD1.BOC.ExchangeRateCurrency USDCAD_TARGET 
														--
														ON USDCAD_BASE.ThreeLetterCode = 'CAD' 
														AND USDCAD_TARGET.ThreeLetterCode = 'USD' 
														-- 
												INNER JOIN PD1.BOC.ExchangeRate  ER_t  ON  USDCAD_BASE.ID = ER_t.Base_ExchangeRateCurrencyID 
																					   AND USDCAD_TARGET.ID = ER_t.Target_ExchangeRateCurrencyID 
														-- 
												WHERE	ER_t.EffectiveDate_ET <= X.EffectiveDate 
												--
												GROUP BY  USDCAD_BASE.ID		
												,		  USDCAD_TARGET.ID	
												--	
											)	
												MD  ON  ER_s.EffectiveDate_ET = MD.MAX_EffectiveDate_ET 
													-- 
													AND ER_s.Base_ExchangeRateCurrencyID = MD.BASE_ID		
													AND ER_s.Target_ExchangeRateCurrencyID = MD.TARGET_ID	
													AND ER_s.EffectiveDate_ET < '2021-12-01'
								--
								UNION
								--
								SELECT		'USD/CAD'  as  CURRENCY_SYSTEM 
								,			convert(date,ER_s.EffectiveTimestamp)	as	EffectiveDate_ET
								,			ER_s.PX_LAST	 as	RateQuote
								--	
								FROM		Bloomberg_DL.archive.vw_BBG_FileRow_EQBEODForeignRates  ER_s 
								INNER JOIN	(
												SELECT	ER_t.TICKER
												-- 
												,		MAX(ER_t.EffectiveTimestamp)  as  MAX_EffectiveDate_ET 
												-- 
												FROM	Bloomberg_DL.archive.vw_BBG_FileRow_EQBEODForeignRates	ER_t
												WHERE	convert(date,ER_t.EffectiveTimestamp) <= X.EffectiveDate 
												AND		ER_t.TICKER = 'USDCAD'
												--
												GROUP BY  ER_t.TICKER
												--	
											)	
												MD  ON  ER_s.EffectiveTimestamp = MD.MAX_EffectiveDate_ET 
													-- 
													AND ER_s.TICKER = 'USDCAD'
													AND convert(date,ER_s.EffectiveTimestamp) >= '2021-12-01'
							)	
								FX_s  
					-- 
					WHERE	C.ThreeLetterAbbreviation = 'USD' 
					-- 
				)	 
					FX
	--	
	--
	;	
	

GO
