USE [TA]
GO
/****** Object:  View [liquidity].[vw_LCRManualEntry]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [liquidity].[vw_LCRManualEntry]  
AS	
/**************************************************************************************

	Displays LCRManualEntry records. 

		
		Example:	


			SELECT		*
			FROM		liquidity.vw_LCRManualEntry  X		
			--	 
			ORDER BY	X.EffectiveDate				DESC	
			,			X.LCRManualEntryType_Name	ASC		
			--	
			;												


	Date			Action	
	----------		----------------------------
	2018-06-28		Created initial version.	

**************************************************************************************/	


	SELECT		E.ID							
	--
	,			E.LCRManualEntryTypeID	
	,			T.[Name]					LCRManualEntryType_Name		
	,			T.[Description]				LCRManualEntryType_Description	
	--
	,			E.EffectiveDate		
	--	
	,			E.Amount	
	,			E.Note		
	--	
	--
	,			E.UpdateTime	
	,			E.UpdateBy 
	--
	--	
	FROM		liquidity.LCRManualEntry		E	
	INNER JOIN	liquidity.LCRManualEntryType	T	ON	E.LCRManualEntryTypeID = T.ID		
	--	
	;	
	

GO
