USE [TA]
GO
/****** Object:  View [loan].[vw_PropertyTypeRiskWeight]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PropertyTypeRiskWeight]
AS	
/**************************************************************************************

	Displays PropertyTypeRiskWeight records.		


		Example:	


			SELECT		X.PropertyType_Code 
			,			X.PropertyType_Description	
			--
			,			X.EffectiveStartDate 
			--
			,			X.RiskWeight	
			--
			FROM		loan.vw_PropertyTypeRiskWeight	 X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.PropertyType_Code		ASC		
			--,			X.EffectiveStartDate	DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-08-08		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.PropertyTypeID	
	,			T.Code				PropertyType_Code	
	,			T.[Description]		PropertyType_Description		
	--	
	,			X.EffectiveStartDate	
	--	
	,			convert(float,X.RiskWeight)		RiskWeight	
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.PropertyTypeRiskWeight	   X
	--		
	LEFT  JOIN	TDBlookup.PropertyType		   T	ON	X.PropertyTypeID = T.ID		
	--	
	LEFT  JOIN	(
					SELECT		Ys.PropertyTypeID 
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.PropertyTypeRiskWeight	 Ys	
					GROUP BY	Ys.PropertyTypeID 
					--
				)		
					Y	ON	X.PropertyTypeID = Y.PropertyTypeID		
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	



GO
