USE [TA]
GO
/****** Object:  View [loan].[vw_PortfolioCashflowVersionOptionDetail]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [loan].[vw_PortfolioCashflowVersionOptionDetail]  
AS	
/**************************************************************************************

	Displays PortfolioCashflowVersionOptionDetail records. 

		
		Example:	


			SELECT		*
			FROM		loan.vw_PortfolioCashflowVersionOptionDetail  X		
			--
			ORDER BY	X.ID  DESC 
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-08-30		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.PortfolioCashflowVersionID		
	,			V.EffectiveDate 
	,			V.MonthEnd	
	--
	,			V.PortfolioCashflowVersionConfigurationID 
	,			C.Note		VersionConfiguration_Note	
	--
	--	
	,			X.PortfolioCashflowAttributeGroupID 
	--
	--	
	,			X.PaymentDate
	--
    ,			X.CallOrPut		
	,			X.LongOrShort	
	--
	,			CONVERT(float,X.StrikeRate)		StrikeRate	
	--
	,			X.StartDate 
	,			X.EndDate	
	--
	,			X.Notional	
	--	
	--
	FROM		loan.PortfolioCashflowVersionOptionDetail	X	
	INNER JOIN	loan.PortfolioCashflowVersion				V  ON  X.PortfolioCashflowVersionID = V.ID 	
	--
	INNER JOIN	loan.PortfolioCashflowVersionConfiguration	C  ON  V.PortfolioCashflowVersionConfigurationID = C.ID		
	--
	;	
		

GO
