USE [TA]
GO
/****** Object:  View [loan].[vw_NewBusinessProbabilityAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_NewBusinessProbabilityAssumption]
AS	
/**************************************************************************************

	Displays NewBusinessProbabilityAssumption records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
			--
		    ,			X.FloatdownRatio
			--
			FROM		loan.vw_NewBusinessProbabilityAssumption  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2020-07-22		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	--	 
	,			convert(float, X.FloatdownRatio)	FloatdownRatio 
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.NewBusinessProbabilityAssumption   X
	--		
	LEFT  JOIN	loan.ProductCategory   C   ON   X.ProductCategoryID = C.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.NewBusinessProbabilityAssumption  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
