USE [TA]
GO
/****** Object:  View [loan].[vw_PrepaymentVectorVersion]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PrepaymentVectorVersion] 	 
AS	
/**************************************************************************************

	Displays PrepaymentVectorVersion records. 

		
		Example:	


			SELECT		X.* 
			--
			FROM		loan.vw_PrepaymentVectorVersion		X		
			--	
			ORDER BY	X.PrepaymentVector_Name	 ASC		
			,			X.EffectiveStartDate	 DESC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2017-11-19		Created initial version.	
	2018-07-12		Copied from EQDWT01. 

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.PrepaymentVectorID	
	,			V.[Name]				PrepaymentVector_Name	
	--
	,			X.EffectiveStartDate			
	--
	FROM		loan.PrepaymentVectorVersion  X	
	INNER JOIN	loan.PrepaymentVector		  V	 ON	 X.PrepaymentVectorID = V.ID 
	--	
	;	



GO
