USE [TA]
GO
/****** Object:  View [loan].[vw_CustomCashflowScheduleVersionComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_CustomCashflowScheduleVersionComponent]
AS	
/**************************************************************************************

	Displays CustomCashflowScheduleVersionComponent records.		


		Example:	


			SELECT		X.*		
			--
			FROM		loan.vw_CustomCashflowScheduleVersionComponent  X		
			--
			ORDER BY	X.CustomCashflowSchedule_Name	ASC		
			,			X.EffectiveStartDate			DESC	
			,			X.PaymentDate					ASC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-07-10		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.CustomCashflowScheduleVersionID
	,			V.CustomCashflowScheduleID	
	,			S.[Name]	CustomCashflowSchedule_Name		
	,			V.EffectiveStartDate	
	--
	,			X.PaymentDate
	,			CONVERT(float,X.PrincipalPayment_Percentage)	as	PrincipalPayment_Percentage
	,			X.IsLastPayment 
	--	
	FROM		loan.CustomCashflowScheduleVersion			 V
	INNER JOIN	loan.CustomCashflowSchedule					 S	ON  V.CustomCashflowScheduleID = S.ID	
	--														 
	INNER JOIN	loan.CustomCashflowScheduleVersionComponent  X  ON  V.ID = X.CustomCashflowScheduleVersionID
	--
	;	
	

GO
