USE [TA]
GO
/****** Object:  View [loanEligibility].[vw_FundingFacilityCapacity]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loanEligibility].[vw_FundingFacilityCapacity]  
AS	
/**************************************************************************************

	Displays FundingFacilityCapacity records. 

		
		Example:	


			SELECT		*
			FROM		loanEligibility.vw_FundingFacilityCapacity  X		
			--	
			ORDER BY	X.EffectiveStartDate	DESC	
			,			X.FundingFacility_Name	ASC			
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-05-30		Created initial version.	

**************************************************************************************/	


	SELECT		C.ID	
	--
	,			C.FundingFacilityID		
	,			X.[Name]					as	FundingFacility_Name		
	,			X.[Description]				as	FundingFacility_Description		
	--
	,			C.EffectiveStartDate			
	,			convert(float,C.TotalOutstandingDrawLimit)	as	TotalOutstandingDrawLimit	
	,			convert(float,C.TotalOutstandingDrawLimit)	
			 /  convert(float,1000*1000)					as	TotalOutstandingDrawLimit_Millions		
	--
	FROM		loanEligibility.FundingFacilityCapacity		C	
	INNER JOIN	loanEligibility.FundingFacility				X	ON	C.FundingFacilityID = X.ID	
	--		 
	LEFT  JOIN	securitization.LoanEncumbranceType	LET  ON  X.LoanEncumbranceTypeID = LET.ID  
	LEFT  JOIN	securitization.WarehouseFacility 	WF   ON  X.WarehouseFacilityID = WF.ID 
	--	
	;	
	

GO
