USE [TA]
GO
/****** Object:  View [loan].[vw_BorrowerAgingAssumptionComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_BorrowerAgingAssumptionComponent]
AS	
/**************************************************************************************

	Displays BorrowerAgingAssumptionComponent records.		


		Example:	


			SELECT		X.*		
			--
			FROM		loan.vw_BorrowerAgingAssumptionComponent  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.GenderCode	ASC		
			,			X.YearsOfAge	ASC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-08-09		Created initial version.	

**************************************************************************************/	

	SELECT		C.ID 
	--
	,			C.BorrowerAgingAssumptionID		
	,			X.EffectiveStartDate	
	,			CASE WHEN X.EffectiveStartDate = M.MaxEffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END						IsLatest		
	,			X.DataSource	
	--
	,			C.GenderCode	
	--	
	,			C.YearsOfAge	
	--	
	,			convert(float, C.SurvivalRate	  )  as	 SurvivalRate	 
	,			convert(float, C.LivingInCareRate )  as	 LivingInCareRate
	--	
	FROM		loan.BorrowerAgingAssumption   X	
	LEFT  JOIN  (	
					SELECT  MAX(Xs.EffectiveStartDate)	MaxEffectiveStartDate	
					FROM	loan.BorrowerAgingAssumption  Xs		 
				)	
					M	ON	X.EffectiveStartDate = M.MaxEffectiveStartDate
	--		
	INNER JOIN	loan.BorrowerAgingAssumptionComponent	C	
					--
					ON	X.ID = C.BorrowerAgingAssumptionID	
					--
	--	
	;	


GO
