USE [TA]
GO
/****** Object:  View [loanEligibility].[vw_CityTier_BannerTrust]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loanEligibility].[vw_CityTier_BannerTrust]  
AS	
/**************************************************************************************

	Displays CityTier_BannerTrust records. 

		
		Example:	


			SELECT		*
			FROM		loanEligibility.vw_CityTier_BannerTrust  X		
			--	
			ORDER BY	X.Province_TwoLetterAbbreviation	ASC		
			,			X.TierNumber						ASC		
			,			X.CityName							ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-01-03		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.EffectiveStartDate	
	,			X.EffectiveEndDate	
	--
	,			X.ProvinceOrStateID		
	,			P.TwoLetterAbbreviation		Province_TwoLetterAbbreviation		
	,			P.[Name]					Province_Name	
	--
	,			X.CityName	
	,			X.TierNumber	
	--			
	FROM		loanEligibility.CityTier_BannerTrust  X 
	INNER JOIN	reference.ProvinceOrState			  P	 ON	 X.ProvinceOrStateID = P.ID 
	--	
	;	



GO
