USE [TA]
GO
/****** Object:  View [loan].[vw_PrepaymentRateAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [loan].[vw_PrepaymentRateAssumption]
AS	
/**************************************************************************************

	Displays PrepaymentRateAssumption records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
		    ,			X.IsFixed
			--
		    ,			X.PPR
		    ,			X.LQR
		    ,			X.DEF
		    ,			X.PIP
			--
			FROM		loan.vw_PrepaymentRateAssumption  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			,			X.IsFixed				DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2016-06-01		Created initial version.	
	2018-07-12		Moved from EQDWT01. 

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	--
	,			X.IsFixed	
	,			X.IsOpen
	--
	,			convert(float, X.PPR)	PPR	
	,			convert(float, X.LQR)	LQR	
	,			convert(float, X.DEF)	DEF	
	,			convert(float, X.PIP)	PIP		
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.PrepaymentRateAssumption   X
	--		
	INNER JOIN	loan.ProductCategory   C   ON   X.ProductCategoryID = C.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					,			Ys.IsFixed	 
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.PrepaymentRateAssumption  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					,			Ys.IsFixed	
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						AND X.IsFixed = Y.IsFixed			
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
