USE [TA]
GO
/****** Object:  View [loan].[vw_OSFITypeMapping]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_OSFITypeMapping]
AS	
/**************************************************************************************

	Displays OSFITypeMapping records.		


		Example:	


			SELECT		X.LoanType_Code 
			,			X.LoanType_Description	
			,			X.PropertyType_Code 
			,			X.PropertyType_Description	
			--
			,			X.EffectiveStartDate 
			,			X.IsInsured 
			,			X.IsResidential	 
			--
			FROM		loan.vw_OSFITypeMapping	 X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.LoanType_Code			ASC		
			,			X.PropertyType_Code		ASC			
			--,			X.EffectiveStartDate	DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2016-09-07		Created initial version.	
	2018-07-03		Migrated from EQDWT01. Added [IsLatest] column. 

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.LoanTypeID	
	,			T.Code				LoanType_Code	
	,			T.[Description]		LoanType_Description		
	--	
	,			X.PropertyTypeID	
	,			P.Code				PropertyType_Code	
	,			P.[Description]		PropertyType_Description		
	--
	,			X.EffectiveStartDate	
	--
	,			X.IsInsured 
	,			X.IsResidential		
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.OSFITypeMapping	X
	--		
	LEFT  JOIN	TDBlookup.LoanType		T	ON	X.LoanTypeID = T.ID		
	LEFT  JOIN	TDBlookup.PropertyType	P	ON	X.PropertyTypeID = P.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.LoanTypeID 
					,			Ys.PropertyTypeID	
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--	
					FROM		loan.OSFITypeMapping	Ys	
					GROUP BY	Ys.LoanTypeID 
					,			Ys.PropertyTypeID	
				)		
					Y	ON	X.LoanTypeID = Y.LoanTypeID		
						AND X.PropertyTypeID = Y.PropertyTypeID		
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--
	;	



GO
