USE [TA]
GO
/****** Object:  View [loan].[vw_PortfolioCashflowVersionComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PortfolioCashflowVersionComponent]  
AS	
/**************************************************************************************

	Displays PortfolioCashflowVersionComponent records. 

		
		Example:	


			SELECT		*
			FROM		loan.vw_PortfolioCashflowVersionComponent  X		
			--
			ORDER BY	X.ID  DESC 
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-08-29		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.PortfolioCashflowVersionID		
	,			V.EffectiveDate 
	,			V.MonthEnd	
	--
	,			V.PortfolioCashflowVersionConfigurationID 
	,			C.Note		VersionConfiguration_Note	
	--
	--	
	,			X.PortfolioCashflowAttributeGroupID 
	--
	--	
	,			X.PaymentDate
    ,			X.ShockAmount_BasisPoints
	--
    ,			X.PrincipalPayment_Scheduled
    ,			X.PrincipalPayment_PPR
    ,			X.PrincipalPayment_LQR
    ,			X.PrincipalPayment_DEF
    ,			X.PrincipalPayment_Balloon
    ,			X.PrincipalAdjustment_FutureFunding
    ,			X.PrincipalAdjustment_PlannedAdvance
	--
    ,			X.InterestPayment_Scheduled
    ,			X.InterestPayment_OptionIntrinsic
    ,			X.InterestPayment_PIP
    ,			X.ServiceFeePayment_Estimated
    ,			X.MBSInterestPayment_Estimated
	--
    ,			X.MaturingBalance
	--
	--	
	,			X.PrincipalPayment_Scheduled
			  + X.PrincipalPayment_PPR
			  + X.PrincipalPayment_LQR
			  + X.PrincipalPayment_DEF
			  + X.PrincipalPayment_Balloon
			  + X.PrincipalAdjustment_FutureFunding
			  + X.PrincipalAdjustment_PlannedAdvance	as	Total_PrincipalCashflow		
	--
	,			X.InterestPayment_Scheduled
			  + X.InterestPayment_OptionIntrinsic
			  + X.InterestPayment_PIP					as	Total_InterestCashflow	
	--	
	--
	FROM		loan.PortfolioCashflowVersionComponent	 X	
	INNER JOIN	loan.PortfolioCashflowVersion			 V	 ON	  X.PortfolioCashflowVersionID = V.ID 	
	--
	INNER JOIN	loan.PortfolioCashflowVersionConfiguration	C  ON  V.PortfolioCashflowVersionConfigurationID = C.ID		
	--
	;	
		

GO
