USE [TA]
GO
/****** Object:  View [loan].[vw_PrepaymentVectorVersionComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [loan].[vw_PrepaymentVectorVersionComponent] 	 
AS	
/**************************************************************************************

	Displays PrepaymentVectorVersionComponent records. 

		
		Example:	


			SELECT		X.* 
			--
			FROM		loan.vw_PrepaymentVectorVersionComponent	X		
			--	
			ORDER BY	X.PrepaymentVector_Name	 ASC		
			,			X.EffectiveStartDate	 DESC	
			--	
			;	


	Date			Action	
	----------		----------------------------
	2017-11-19		Created initial version.	
	2018-07-12		Copied from EQDWT01.	

**************************************************************************************/	


	SELECT		Y.ID	
	--
	,			Y.PrepaymentVectorVersionID		
	--
	,			X.PrepaymentVectorID	
	,			V.[Name]						PrepaymentVector_Name	
	--
	,			X.EffectiveStartDate			
	--
	,			Y.MinMonthsElapsed 
	,			Y.MaxMonthsElapsed 
	--
	,			convert(float, Y.PPR) 	PPR
	,			convert(float, Y.LQR) 	LQR
	,			convert(float, Y.DEF) 	DEF
	,			convert(float, Y.PIP) 	PIP
	--
	FROM		loan.PrepaymentVectorVersionComponent	Y		
	INNER JOIN	loan.PrepaymentVectorVersion 			X	ON	Y.PrepaymentVectorVersionID = X.ID 
	INNER JOIN	loan.PrepaymentVector					V	ON	X.PrepaymentVectorID = V.ID 
	--	
	;	


GO
