USE [TA]
GO
/****** Object:  View [loan].[vw_PrepaymentVectorMapping]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PrepaymentVectorMapping]
AS	
/**************************************************************************************

	Displays PrepaymentVectorMapping records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			,			X.EffectiveEndDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
		    ,			X.IsFixed
			,			X.IsAutoRenewal		
			,			X.IsOpen	 
			,			X.IsParadigm	
			--
		    ,			X.MinTerm_Months	
			,			X.MaxTerm_Months	
			--
			,			X.PrepaymentVectorID	
			,			X.PrepaymentVector_Name		
			--
			FROM		loan.vw_PrepaymentVectorMapping  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			,			X.IsFixed				DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2016-06-01		Created initial version.	
	2018-07-12		Moved from EQDWT01. 

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	,			X.EffectiveEndDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	--
	,			X.IsFixed	
	,			X.IsAutoRenewal		
	,			X.IsOpen	 
	,			X.IsParadigm	
	--
	,			X.MinTerm_Months	
	,			X.MaxTerm_Months	
	--
	,			X.PrepaymentVectorID	
	,			V.[Name]					PrepaymentVector_Name		
	--	
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.PrepaymentVectorMapping   X
	--		
	INNER JOIN	loan.ProductCategory    C   ON   X.ProductCategoryID = C.ID		
	--	
	INNER JOIN	loan.PrepaymentVector   V   ON   X.PrepaymentVectorID = V.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					,			Ys.IsFixed
					,			Ys.IsAutoRenewal
					,			Ys.IsOpen
					,			Ys.IsParadigm
					,			Ys.MinTerm_Months
					,			Ys.MaxTerm_Months
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.PrepaymentVectorMapping  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					,			Ys.IsFixed
					,			Ys.IsAutoRenewal
					,			Ys.IsOpen
					,			Ys.IsParadigm
					,			Ys.MinTerm_Months
					,			Ys.MaxTerm_Months
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						AND ( X.IsFixed = Y.IsFixed	OR ( X.IsFixed IS NULL AND Y.IsFixed IS NULL ) )	
						AND ( X.IsAutoRenewal = Y.IsAutoRenewal	OR ( X.IsAutoRenewal IS NULL AND Y.IsAutoRenewal IS NULL ) )
						AND ( X.IsOpen = Y.IsOpen OR ( X.IsOpen IS NULL AND Y.IsOpen IS NULL ) )
						AND ( X.IsParadigm = Y.IsParadigm OR ( X.IsParadigm IS NULL AND Y.IsParadigm IS NULL ) )
						AND ( X.MinTerm_Months = Y.MinTerm_Months OR ( X.MinTerm_Months IS NULL AND Y.MinTerm_Months IS NULL ) )
						AND ( X.MaxTerm_Months = Y.MaxTerm_Months OR ( X.MaxTerm_Months IS NULL AND Y.MaxTerm_Months IS NULL ) )
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
