USE [TA]
GO
/****** Object:  View [loan].[vw_ProductCategoryMapping]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_ProductCategoryMapping]
AS	
/**************************************************************************************

	Displays ProductCategoryMapping records.		


		Example:	


			SELECT		X.LoanType_Code 
			,			X.LoanType_Description	
			--
			,			X.EffectiveStartDate 
			--
			,			X.ProductCategory_Name	
			,			X.HeldForSale	
			--
			FROM		loan.vw_ProductCategoryMapping	 X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.LoanType_Code			ASC		
			--,			X.EffectiveStartDate	DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-07-11		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.LoanTypeID	
	,			T.Code				LoanType_Code	
	,			T.[Description]		LoanType_Description		
	--	
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	,			C.[Description]			ProductCategory_Description		
	--
	,			X.HeldForSale			
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.ProductCategoryMapping	   X
	--		
	LEFT  JOIN	TDBlookup.LoanType		T	ON	X.LoanTypeID = T.ID		
	LEFT  JOIN	loan.ProductCategory	C	ON	X.ProductCategoryID = C.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.LoanTypeID 
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.ProductCategoryMapping	 Ys	
					GROUP BY	Ys.LoanTypeID 
					--
				)		
					Y	ON	X.LoanTypeID = Y.LoanTypeID		
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	



GO
