USE [TA]
GO
/****** Object:  View [loan].[vw_CommitmentFundingProbabilityAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_CommitmentFundingProbabilityAssumption]
AS	
/**************************************************************************************

	Displays CommitmentFundingProbabilityAssumption records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
			--
			,			X.LoanStatus_Code	
			--
		    ,			X.FundingProbability	
			--
			FROM		loan.vw_CommitmentFundingProbabilityAssumption  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			,			X.LoanStatus_Code		ASC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2016-11-03		Created initial version.	
	2018-07-13		Moved from EQDWT01. 

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	--
	,			X.LoanStatusID	
	,			S.Code					LoanStatus_Code		
	--
	,			convert(float, X.FundingProbability)	FundingProbability 
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.CommitmentFundingProbabilityAssumption   X
	--		
	INNER JOIN	loan.ProductCategory   C   ON   X.ProductCategoryID = C.ID		
	INNER JOIN	TDBlookup.LoanStatus   S   ON	X.LoanStatusID = S.ID	
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					,			Ys.LoanStatusID  
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.CommitmentFundingProbabilityAssumption  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					,			Ys.LoanStatusID	
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						AND X.LoanStatusID = Y.LoanStatusID			
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
