USE [TA]
GO
/****** Object:  View [loan].[vw_PortfolioCashflowVersion]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [loan].[vw_PortfolioCashflowVersion]  
AS	
/**************************************************************************************

	Displays PortfolioCashflowVersion records. 

		
		Example:	


			SELECT		*
			FROM		loan.vw_PortfolioCashflowVersion X		
			ORDER BY	X.EffectiveDate DESC 
			,			X.PortfolioCashflowVersionConfigurationID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-08-29		Created initial version.	
	2018-08-30		Added 3 new commitment-related fields to VersionConfiguration table. 

**************************************************************************************/	


	SELECT		V.ID		
	--	
	--						
	,			V.PortfolioCashflowVersionConfigurationID			
	,			C.Note		VersionConfiguration_Note		 
	--	
	--	
	,			V.EffectiveDate		
	--
	,			V.MonthEnd			
	--
	,			V.InsertTime 
	,			V.UpdateTime 
	--
	,			V.DoNotPurge	
	--
	--
	,			C.StructureTypeID	
	,			T.[Name]				StructureType_Name	
	--
	,			C.BalloonType11AtNextPayment	
	,			C.IgnoreMaturityDates 
	,			C.IgnoreMaturityDates_UnpooledOnly 
	,			convert(float,C.PrepaymentMultiplier)		PrepaymentMultiplier 
	,			C.IncludeRenewalForecasts 
	,			C.RenewFloatingLoans 
	,			C.IncludeYieldShocks 
	--
	,			C.IncludeCommitments	
	,			C.ExcludePastAndFutureCommitments	
	,			C.ApplyCommitmentFundingProbabilities	
	--
	--	
	FROM		loan.PortfolioCashflowVersion				 V											    
	INNER JOIN	loan.PortfolioCashflowVersionConfiguration   C  
						--
						ON  V.PortfolioCashflowVersionConfigurationID = C.ID	
						--	
	--
	LEFT  JOIN	loan.StructureType	T  ON  C.StructureTypeID = T.ID	
	--	
	;	
		


GO
