USE [TA]
GO
/****** Object:  View [loan].[vw_CustomCashflowScheduleVersion]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_CustomCashflowScheduleVersion]
AS	
/**************************************************************************************

	Displays CustomCashflowScheduleVersion records.		


		Example:	


			SELECT		X.*		
			--
			FROM		loan.vw_CustomCashflowScheduleVersion  X		
			--
			ORDER BY	X.CustomCashflowSchedule_Name	ASC		
			,			X.EffectiveStartDate			DESC	
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-07-10		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.CustomCashflowScheduleID	
	,			S.[Name]	CustomCashflowSchedule_Name		
	--
	,			X.EffectiveStartDate	
	--	
	FROM		loan.CustomCashflowScheduleVersion	 X
	INNER JOIN	loan.CustomCashflowSchedule			 S	 ON  X.CustomCashflowScheduleID = S.ID	
	--
	;	
	

GO
