USE [TA]
GO
/****** Object:  View [loan].[vw_RenewalTermSplitAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_RenewalTermSplitAssumption]
AS	
/**************************************************************************************

	Displays RenewalTermSplitAssumption records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
			--
			,			X.Term_Months	
			--	
		    ,			X.AllocationPercentage	
			,			X.PostedRate_SAComp		
			--
			FROM		loan.vw_RenewalTermSplitAssumption  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			,			X.Term_Months			ASC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-07-13		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	--
	,			X.Term_Months	
	--
	,			convert(float, X.AllocationPercentage)		AllocationPercentage	 
	,			convert(float, X.PostedRate_SAComp)			PostedRate_SAComp		 
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.RenewalTermSplitAssumption   X
	--		
	INNER JOIN	loan.ProductCategory   C   ON   X.ProductCategoryID = C.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.RenewalTermSplitAssumption  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
