USE [TA]
GO
/****** Object:  View [loan].[vw_PortfolioCashflowVersionLoanList]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PortfolioCashflowVersionLoanList]  
AS	
/**************************************************************************************

	Displays PortfolioCashflowVersionLoanList records. 

		
		Example:	


			SELECT		*
			FROM		loan.vw_PortfolioCashflowVersionLoanList  X		
			--
			ORDER BY	X.ID  DESC 
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-12-17		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.PortfolioCashflowVersionID		
	,			V.EffectiveDate 
	,			V.MonthEnd	
	--
	,			V.PortfolioCashflowVersionConfigurationID 
	,			C.Note		VersionConfiguration_Note	
	--
	--	
	,			X.PortfolioCashflowAttributeGroupID 
	--
	--	
	,			X.LoanIdentifier
	,			X.RemainingPrincipal
	,			X.IssueDate
	,			X.MaturityDate_Subledger
	--
	--
	,			X.EstDD_Total
	--
	,			X.EstDD_1month
	,			X.EstDD_2months
	,			X.EstDD_3months
	,			X.EstDD_6months
	,			X.EstDD_1year
	,			X.EstDD_2years
	,			X.EstDD_3years
	,			X.EstDD_4years
	,			X.EstDD_5years
	,			X.EstDD_6years
	,			X.EstDD_7years
	,			X.EstDD_10years
	,			X.EstDD_20years
	,			X.EstDD_30years
	,			X.EstDD_40years
	,			X.EstDD_50years
	--	
	--	
	FROM		loan.PortfolioCashflowVersionLoanList		X	
	INNER JOIN	loan.PortfolioCashflowVersion				V  ON  X.PortfolioCashflowVersionID = V.ID 	
	--														   
	INNER JOIN	loan.PortfolioCashflowVersionConfiguration	C  ON  V.PortfolioCashflowVersionConfigurationID = C.ID		
	--
	;	
		

GO
