USE [TA]
GO
/****** Object:  View [loan].[vw_RenewalProbabilityAssumption]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [loan].[vw_RenewalProbabilityAssumption]
AS	
/**************************************************************************************

	Displays RenewalProbabilityAssumption records.		


		Example:	


			SELECT		X.EffectiveStartDate	
			--
			,			X.ProductCategoryID		
			,			X.ProductCategory_Name	
			--
		    ,			X.RenewalRatio	
		    ,			X.FloatdownRatio	
		    ,			X.HaircutRate	
			--
			FROM		loan.vw_RenewalProbabilityAssumption  X		
			--
			WHERE		X.IsLatest = 1	
			--
			ORDER BY	X.ProductCategory_Name	DESC		
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-07-13		Created initial version.	
	2019-12-13		Adding TermToMaturity_Months column

**************************************************************************************/	

	SELECT		X.ID 
	--
	,			X.EffectiveStartDate	
	--
	,			X.ProductCategoryID		
	,			C.[Name]				ProductCategory_Name	
	,			X.TermToMaturity_Months
	--
	,			convert(float, X.RenewalRatio)		RenewalRatio	 
	,			convert(float, X.FloatdownRatio)	FloatdownRatio 
	,			convert(float, X.HaircutRate)		HaircutRate 
	--
	,			CASE WHEN X.EffectiveStartDate = Y.EffectiveStartDate 
					 THEN 1 
					 ELSE 0 
				END					IsLatest	
	--	
	FROM		loan.RenewalProbabilityAssumption   X
	--		
	INNER JOIN	loan.ProductCategory   C   ON   X.ProductCategoryID = C.ID		
	--
	LEFT  JOIN	(
					SELECT		Ys.ProductCategoryID	
					--
					,			MAX(Ys.EffectiveStartDate)	EffectiveStartDate	
					--
					FROM		loan.RenewalProbabilityAssumption  Ys	
					--
					GROUP BY	Ys.ProductCategoryID	
					--
				)		
					Y	ON	X.ProductCategoryID = Y.ProductCategoryID 
						--
						AND X.EffectiveStartDate = Y.EffectiveStartDate		
						--
	--	
	;	


GO
