USE [TA]
GO
/****** Object:  View [loan].[vw_PortfolioCashflowAttributeGroup]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loan].[vw_PortfolioCashflowAttributeGroup]  
AS	
/**************************************************************************************

	Displays PortfolioCashflowAttributeGroup records. 

		
		Example:	


			SELECT		*
			FROM		loan.vw_PortfolioCashflowAttributeGroup X		
			--
			ORDER BY	X.ID  DESC 
			--
			;	


	Date			Action	
	----------		----------------------------
	2018-08-29		Created initial version.	
	2018-09-12		Added [HasFloor] and [HasCeiling] fields to loan.PortfolioCashflowAttributeGroup. 

**************************************************************************************/	


	SELECT		G.ID	
	--
	--	
	,			G.CustomReportCategory	
	--	
	,			G.IsCommitment	
	,			G.IsParadigm	
	,			G.IsThirdParty	
	,			G.IsRenewal		
	,			G.IsRenewalForecast		
	,			G.IsDerecognized	
	--
	,			G.Company	
	--
	,			G.StructureTypeID	
	,			ST.[Name]				as	StructureType_Name	
	--
	,			G.ProductCategoryID		
	,			PC.[Name]				as	ProductCategory_Name	
	--
	,			G.FixedOrFloating	
	--
	,			G.LoanType_Code		
	,			LT.ID					as	LoanTypeID	
	,			LT.[Description]		as	LoanType_Description	
	--
	,			G.PropertyType_Code		
	,			PT.ID					as	PropertyTypeID	
	,			PT.[Description]		as	PropertyType_Description		
	--
	,			G.OSFIType_IsInsured	
	,			G.OSFIType_IsResidential	
	--
	,			G.LoanStatus_Code	
	,			LS.ID					as	LoanStatusID	
	,			LS.[Description]		as	LoanStatus_Description	
	--
	,			G.InLegalAction 
	,			G.IsPastMaturity	
	--
	,			G.PoolNumber	
	--
	,			G.LoanEncumbranceTypeID		
	,			LET.LoanEncumbranceTypeCategoryID	
	,			LETC.[ShortName]						as	LoanEncumbranceTypeCategory_ShortName	
	,			LET.[Name]								as	LoanEncumbranceType_Name	
	,			LET.LegalEntityID						as	LoanEncumbranceType_LegalEntityID	
	,			LETLE.ShortName							as	LoanEncumbranceType_LegalEntity_ShortName	
	--
	,			G.WarehouseFacilityID	
	,			WF.ShortName							as	WarehouseFacility_ShortName		
	,			WF.LegalEntityID						as	WarehouseFacility_LegalEntityID		
	,			WFLE.ShortName							as	WarehouseFacility_LegalEntity_ShortName		
	--
	,			G.OriginalTerm_Rounded_Months	
	--
	,			G.HasFloor 
	,			G.HasCeiling	
	--	
	FROM		loan.PortfolioCashflowAttributeGroup	G		
	--
	LEFT  JOIN	loan.StructureType		ST	ON	G.StructureTypeID = ST.ID 
	LEFT  JOIN	loan.ProductCategory	PC	ON	G.ProductCategoryID = PC.ID	
	--	
	LEFT  JOIN	TDBlookup.LoanType		LT	ON	G.LoanType_Code = LT.Code 
	LEFT  JOIN	TDBlookup.PropertyType	PT	ON	G.PropertyType_Code = PT.Code 
	--
	LEFT  JOIN	TDBlookup.LoanStatus	LS	ON	G.LoanStatus_Code = LS.Code		
	--
	LEFT  JOIN	securitization.LoanEncumbranceType			LET		ON	G.LoanEncumbranceTypeID = LET.ID
	LEFT  JOIN	securitization.LoanEncumbranceTypeCategory	LETC	ON	LET.LoanEncumbranceTypeCategoryID = LETC.ID  
	LEFT  JOIN	marketinfo.LegalEntity						LETLE	ON	LET.LegalEntityID = LETLE.ID		
	--	
	LEFT  JOIN	securitization.WarehouseFacility		WF		ON	G.WarehouseFacilityID = WF.ID	
	LEFT  JOIN	marketinfo.LegalEntity					WFLE	ON	WF.LegalEntityID = WFLE.ID  
	--
	;	
		


GO
