USE [TA]
GO
/****** Object:  View [loanEligibility].[vw_FundingFacility]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [loanEligibility].[vw_FundingFacility]  
AS	
/**************************************************************************************

	Displays FundingFacility records. 

		
		Example:	


			SELECT		*
			FROM		loanEligibility.vw_FundingFacility  X		
			--	
			ORDER BY	X.DisplayOrder_AscendingRank    ASC	
			,			X.[Name]						ASC		
			--	
			;	


	Date			Action	
	----------		----------------------------
	2019-05-30		Created initial version.	

**************************************************************************************/	


	SELECT		X.ID	
	--
	,			X.[Name]	
	,			X.[Description]		
	--
	,			X.CriteriaCheckProcedureName	
	,			X.DisplayOrder_AscendingRank	
	--
	,			X.LoanEncumbranceTypeID		
	,			LET.[Name]	as	LoanEncumbranceType_Name	
	--
	,			X.WarehouseFacilityID	
	,			WF.ShortName  as  WarehouseFacility_ShortName	
	--			
	,			Y.EffectiveStartDate		 as  LatestCapacity_EffectiveStartDate		
	,			convert(float,Y.TotalOutstandingDrawLimit)	 as  LatestCapacity_TotalOutstandingDrawLimit		
	,			convert(float,Y.TotalOutstandingDrawLimit)	 
			 /  convert(float,1000*1000)					 as	 LatestCapacity_TotalOutstandingDrawLimit_Millions 		
	--
	FROM		loanEligibility.FundingFacility   X		
	--		 
	LEFT  JOIN	securitization.LoanEncumbranceType	LET  ON  X.LoanEncumbranceTypeID = LET.ID  
	LEFT  JOIN	securitization.WarehouseFacility 	WF   ON  X.WarehouseFacilityID = WF.ID 
	--	
	OUTER APPLY (	
					SELECT	C.EffectiveStartDate	
					,		C.TotalOutstandingDrawLimit		
					FROM	loanEligibility.FundingFacilityCapacity	 C  
					WHERE	C.FundingFacilityID = X.ID	
					AND		C.EffectiveStartDate = ( 
													  SELECT MAX(Cs.EffectiveStartDate)	 
													  FROM   loanEligibility.FundingFacilityCapacity  Cs 
													  WHERE	 Cs.FundingFacilityID = C.FundingFacilityID		
												   ) 	
				)	
					Y	
	--		
	;	
	

GO
