USE [TA]
GO
/****** Object:  View [trade].[vw_MarketParticipant]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [trade].[vw_MarketParticipant]  
AS	
/**************************************************************************************

	Displays MarketParticipant records. 

		
		Example:	


			SELECT		*
			FROM		trade.vw_MarketParticipant X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2016-03-03		Created initial version.	
	2018-04-02		Copied from EQDWT01. 	

**************************************************************************************/	

	SELECT		I.ID				
	--
	,			I.LegalEntityID		
	,			L.ShortName			LegalEntity_ShortName	
	,			L.LongName			LegalEntity_LongName	
	--
	,			L.IsInternal
	--
	FROM		trade.MarketParticipant   I	
	INNER JOIN	marketinfo.LegalEntity	  L	  ON  I.LegalEntityID = L.ID	
	;	



GO
