USE [TA]
GO
/****** Object:  View [trade].[vw_Deal]    Script Date: 9/10/2025 9:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















CREATE VIEW [trade].[vw_Deal]	
AS	
/**************************************************************************************

	Displays Deal records. 

		
		Example:	


			SELECT		X.*
			FROM		trade.vw_Deal	X		
			WHERE		X.IsActive = 1 
			ORDER BY	X.ID ASC		
			;	


	Date			Action	
	----------		----------------------------
	2016-02-19		Created initial version.	
	2016-03-08		Added TradeDate. Added SettlementType and Note. 
	2016-06-08		Added CancellationDate and DealCancellation_Note fields. 
	2016-06-09		Added Swap_DealDirection field. 
	2016-11-15		Added Swap_Leg1_FixedOrFloating and Swap_Leg2_FixedOrFloating fields. 
	2016-11-29		Added InsertBy and InsertTime fields. 
	2017-10-30		Added StartDate and EndDate fields. 
	2018-07-16		Moved from EQDWT01. Added SwapID and BondID fields. Removed ExternalIdentifier field. 
	2018-07-28		Added [ApprovedByReviewer],[ApprovalTime],[ApprovalBy]. 
					Added [Bond_CashSettlementDate],[BondType_ShortName],[Bond_MaturityDate],[Swap_AnnualFixedRate],[Swap_FloatingRateIndex_ShortName]. 
	2018-07-30		Added [Bond_TradePrice].
	2018-08-12		Added [Bond_IssueDate] and [Bond_FixedCouponRate]. 
	2019-08-16		Added [Swap_SpreadToIndexRate] column. 
	2020-08-19		Added FXForward fields.
	2021-06-17		Added FXSpot fields.
	2023-08-10      Added [OffsetID] column.
	2023-08-29      Added TPG_DerivativeID Field
	2023-12-21      Added CounterPartySwapID and OffsetTPG_DerivativeID Field
    2025-03-03      Added 3 new columns: [TradeStage, ValidatedBy, ValidationTime]
    2025-03-21      Added 3 new columns: [BondCashSettlementAmount, AccruedInterest, SpotYield]
    2025-04-16      Added 1 column: Unwind Fee for deal cancellations
**************************************************************************************/	

	SELECT		D.ID	
	--
	,			D.IsActive										
	--	
	,			D.BookID	
	,			K.[Name]					Book_Name	
	,			D.DealTypeID
	,			T.[Name]					DealType_Name 
	--
	,			D.TradeDate 
	--
	,			D.DealDirectionID						
	,			R.[Name]					DealDirection_Name 
	--
	,			CASE WHEN T.[Name] = 'Swap' 
					 THEN
				
						CASE WHEN (
									  Z.Leg1_AnnualFixedRate IS NOT NULL 
								  AND Z.Leg2_AnnualFixedRate IS NOT NULL 
								  ) 
							 OR   (
									  Z.Leg1_AnnualFixedRate IS NULL 
								  AND Z.Leg2_AnnualFixedRate IS NULL 
								  ) 
							 THEN 'N/A'  
							 WHEN Z.Leg1_AnnualFixedRate IS NOT NULL 
							 THEN CASE WHEN (
												R.[Name] = 'Buy' 
					 						AND W.BuyerReceivesLeg1 = 1 
											) 
									   OR	( 
												R.[Name] = 'Sell' 
					 						AND W.BuyerReceivesLeg1 = 0		
											)	
					 				   THEN 'Receive Fixed'	
					 				   ELSE 'Pay Fixed' 
					 			  END	
							 WHEN Z.Leg2_AnnualFixedRate IS NOT NULL 
							 THEN CASE WHEN (
												R.[Name] = 'Buy' 
					 						AND W.BuyerReceivesLeg1 = 1 
											) 
									   OR	( 
												R.[Name] = 'Sell' 
					 						AND W.BuyerReceivesLeg1 = 0		
											)	
					 				   THEN 'Pay Fixed'	
					 				   ELSE 'Receive Fixed' 
					 			  END	
						END								
				
					 ELSE null 
				END										Swap_DealDirection 
	--
	,			D.DealPurposeID							
	,			P.[Name]								DealPurpose_Name 
	,			D.EQBTraderID	
	,			X.ShortName								EQBTrader_ShortName 
	,			X.FullName								EQBTrader_FullName 
	,			D.Counterparty_MarketParticipantID 
	,			L.ID									Counterparty_MarketParticipant_LegalEntityID
	,			L.ShortName								Counterparty_MarketParticipant_LegalEntity_ShortName 
	,			L.LongName								Counterparty_MarketParticipant_LegalEntity_LongName 
	,			D.SettlementTypeID	
	,			S.[Name]								SettlementType_Name		
	--
	,			D.Note 
	--
	,			D.InternalIdentifier 
	--,			D.ExternalIdentifier 
	--
	,			C.CancellationDate						
	,			C.Note									DealCancellation_Note
    ,           C.[Unwind Fee]                          UnwindFee   --2025-04-16
	--
	,			CASE WHEN T.[Name] = 'Swap' 
					 THEN CASE WHEN Z.Leg1_AnnualFixedRate IS NOT NULL 
							   THEN 'Fixed' 
							   ELSE 'Floating' 
						  END 
				END										Swap_Leg1_FixedOrFloating	
	,			CASE WHEN T.[Name] = 'Swap' 
					 THEN CASE WHEN Z.Leg2_AnnualFixedRate IS NOT NULL 
							   THEN 'Fixed' 
							   ELSE 'Floating' 
						  END 
				END										Swap_Leg2_FixedOrFloating	
	--
	--	
	,			CASE WHEN T.[Name] = 'Swap'	
					 THEN Z.StartDate 
					 WHEN T.[Name] = 'Bond Forward'	
					 THEN D.TradeDate 
					 WHEN T.[Name] in ('FX Forward','FX Spot')
					 THEN FX.SettlementDate
					 ELSE null 
				END										StartDate	
	--
	,			CASE WHEN T.[Name] = 'Swap'	
					 THEN Z.EndDate 
					 WHEN T.[Name] = 'Bond Forward'	
					 THEN coalesce( F.CashSettlementDate , F.BondSettlementDate )	
					 WHEN T.[Name] = 'FX Forward'
					 THEN FX.MaturityDate
					 ELSE null 
				END										EndDate	
	--
	--
	,			coalesce(Y.BondID,F.BondID)				BondID	
	,			W.SwapID								SwapID	
	--
	--
	,			coalesce(Y.CashSettlementDate,F.CashSettlementDate)		Bond_CashSettlementDate		
	,			B.BondType_ShortName									BondType_ShortName	
	,			B.IssueDate												Bond_IssueDate
	,			B.MaturityDate											Bond_MaturityDate	
	,			coalesce(F.ForwardPrice,Y.Price)						Bond_TradePrice	
	,			F.ForwardPrice					                        Bond_FowardPrice	 --2024-01-31 added
	,           B.CUSIP                                                 Bond_CUSIP	 --2024-01-31 added
	,			B.AnnualFixedCouponRate									Bond_FixedCouponRate	
	--
	--	
	,			CASE WHEN Z.Leg1_AnnualFixedRate IS NOT NULL 
					 AND  Z.Leg2_AnnualFixedRate IS NULL	
					 THEN Z.Leg1_AnnualFixedRate
					 WHEN Z.Leg2_AnnualFixedRate IS NOT NULL 
					 AND  Z.Leg1_AnnualFixedRate IS NULL	 
					 THEN Z.Leg2_AnnualFixedRate 
					 ELSE null 
				END										Swap_AnnualFixedRate	
	,			CASE WHEN Z.Leg1_FloatingRateIndex_ShortName IS NOT NULL 
					 AND  Z.Leg2_FloatingRateIndex_ShortName IS NULL	
					 THEN Z.Leg1_FloatingRateIndex_ShortName
					 WHEN Z.Leg2_FloatingRateIndex_ShortName IS NOT NULL 
					 AND  Z.Leg1_FloatingRateIndex_ShortName IS NULL	 
					 THEN Z.Leg2_FloatingRateIndex_ShortName 
					 ELSE null 
				END										Swap_FloatingRateIndex_ShortName	
	,			CASE WHEN Z.Leg1_FloatingRateIndex_ShortName IS NOT NULL 
					 AND  Z.Leg2_FloatingRateIndex_ShortName IS NULL	
					 THEN Z.Leg1_SpreadToIndexRate
					 WHEN Z.Leg2_FloatingRateIndex_ShortName IS NOT NULL 
					 AND  Z.Leg1_FloatingRateIndex_ShortName IS NULL	 
					 THEN Z.Leg2_SpreadToIndexRate  
					 ELSE null 
				END										Swap_SpreadToIndexRate 
	--
	,			coalesce(FX.CurrencyID,FXs.CurrencyID)	FX_CurrencyID
	,			Cx.ThreeLetterAbbreviation				FX_Currency_ThreeLetterAbbreviation
	,			coalesce(FX.SpotRate,FXs.SpotRate)		FX_SpotRate
	,			FX.ForwardRate							FX_ForwardRate
	--
	,           D.OffsetID       --2023-08-10
	--
	,			D.InsertBy
	,			D.InsertTime	
	--
	--	
	,			D.ApprovedByReviewer	
	,			D.ApprovalTime			
	,			D.ApprovalBy			
	--
	, 	        MP.TPG_DerivativeID   --2023-08-29
	,           MP.CounterPartySwapID --2023-12-21
	,           MP2.TPG_DerivativeID AS OffsetTPG_DerivativeID --2023-11-21
    ,           D.TradeStage
    ,           D.ValidationTime
    ,           D.ValidatedBy
    ,           F.AccruedInterest as Bond_AccruedInterest
    ,           F.SpotYield as Bond_SpotYield
    ,           (F.NotionalAmount * F.ForwardPrice/100 + F.AccruedInterest) AS Bond_CashSettlementAmount
	,			CASE WHEN T.[Name] = 'Swap'	
					 THEN W.StartingNotional
					 WHEN T.[Name] = 'Bond Forward'	
					 THEN F.NotionalAmount
					 WHEN T.[Name] = 'FX Forward'
					 THEN FX.NotionalAmount
                      WHEN T.[Name] = 'FX Spot'
					 THEN FXs.NotionalAmount
					 ELSE null 
				END	       StartingNotional
	--
	--
	FROM		trade.Deal						D	
	LEFT  JOIN	trade.Book						K	ON	D.BookID = K.ID 
	INNER JOIN	trade.DealType					T	ON	D.DealTypeID = T.ID 
	INNER JOIN	trade.DealDirection				R	ON	D.DealDirectionID = R.ID 
	LEFT  JOIN	trade.DealPurpose				P	ON	D.DealPurposeID = P.ID 
	LEFT  JOIN	trade.EQBTrader					X	ON	D.EQBTraderID = X.ID 
	LEFT  JOIN	trade.MarketParticipant			M	ON	D.Counterparty_MarketParticipantID = M.ID 	
	LEFT  JOIN	marketinfo.LegalEntity			L	ON	M.LegalEntityID = L.ID 
	LEFT  JOIN	trade.SettlementType			S	ON	D.SettlementTypeID = S.ID 
	--
	LEFT  JOIN	trade.DealDetail_Swap			W	ON	D.ID = W.DealID 
	LEFT  JOIN	instrument.vw_Swap				Z	ON	W.SwapID = Z.ID
	--
	LEFT  JOIN	trade.DealDetail_BondForward	F	ON	D.ID = F.DealID  
	LEFT  JOIN	trade.DealDetail_SpotBond		Y	ON	D.ID = Y.DealID  
	LEFT  JOIN	instrument.vw_Bond				B	ON	coalesce(F.BondID,Y.BondID) = B.ID 
	--
	LEFT  JOIN	trade.DealDetail_FXForward		FX	ON	D.ID = FX.DealID
	LEFT  JOIN	trade.DealDetail_FXSpot			FXs	ON	D.ID = FXs.DealID
	LEFT  JOIN	reference.Currency				Cx	ON	coalesce(FX.CurrencyID,FXs.CurrencyID) = Cx.ID
	--
	LEFT  JOIN	trade.DealCancellation			C	ON	D.ID = C.DealID			
	--
	LEFT JOIN   trade.Derivatives_Mapping_EQB_TPG MP ON D.ID = MP.DealID  --2023-08-29
	LEFT JOIN   trade.Derivatives_Mapping_EQB_TPG MP2 ON D.OffsetID = MP2.DealID  --2023-11-21
	;	



GO
