USE [TA]
GO
/****** Object:  View [trade].[vw_MarkToMarket_ValuationComponent]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [trade].[vw_MarkToMarket_ValuationComponent]  
AS	
/**************************************************************************************

	Displays MarkToMarket_Valuation records. 

		
		Example:	


			SELECT		*
			FROM		trade.vw_MarkToMarket_ValuationComponent  X		
			ORDER BY	X.ID ASC 
			;	


	Date			Action	
	----------		----------------------------
	2018-08-03		Created initial version.	

**************************************************************************************/	

	SELECT		X.ID	
	--	
	--
	,			X.MarkToMarket_ValuationID	
	,			V.ValuationDate		
	--	
	,			V.ZeroCurveTypeID			
	,			C.[Name]						as	ZeroCurveType_Name	
	--
	,			V.ShockAmount_BasisPoints	
	--
	,			V.IncludesDuration			
	--
	--	
	,			X.DealID	
	,			X.CashflowDate	
	--
	,			X.MarkToMarket_CashflowTypeID	
	,			T.[Name]						as	MarkToMarket_CashflowType_Name	
	--
	,			X.CashflowAmount 
	,			X.CashflowPV	
	--
	--	
	,			X.DollarDuration	 
	,			X.DollarConvexity	
	--
	,			X.CashflowPV_Up		
	,			X.CashflowPV_Down	
	,			X.CashflowPV_Up2x		
	,			X.CashflowPV_Down2x				
	--
	-- 
	,			X.InsertTime	
	,			X.UpdateTime	
	--
	--
	FROM		trade.MarkToMarket_Valuation			V	
	INNER JOIN	trade.MarkToMarket_ValuationComponent	X	ON	X.MarkToMarket_ValuationID = V.ID	
	INNER JOIN	curve.ZeroCurveType						C	ON	V.ZeroCurveTypeID = C.ID	
	INNER JOIN	trade.MarkToMarket_CashflowType			T	ON	X.MarkToMarket_CashflowTypeID = T.ID	
	--	
	;	
	

GO
