USE [TA]
GO
/****** Object:  View [utility].[vw_ExtendedProperties]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [utility].[vw_ExtendedProperties]	
AS	
/**************************************************************************************

	Displays a summary of 'extended properties' defined in the database
	 for either the database itself, or its schemas, objects, and types. 

		
		Example:	


			SELECT		*
			FROM		utility.vw_ExtendedProperties  X		
			--
			ORDER BY	X.class ASC
			,			X.major_id ASC 
			,			X.minor_id ASC 
			,			X.[name] ASC				
			--	
			;	


	Date			Action	
	----------		----------------------------
	2018-04-18		Created initial version.	
	2018-04-21		Added [class_desc] column from sys.securable_classes. 

**************************************************************************************/	

	SELECT		X.class 
	,			X.major_id 
	,			X.minor_id		
	--
	--
	,			C.class_desc	
	--	
	--
	,			DB_NAME()						as	DatabaseName	
	,			S.[name]						as	SchemaName	
	,			coalesce(T.[name],O.[name])		as	ItemName	
	--
	--
	,			CASE WHEN X.class = 0 
					 THEN 'Database' 
					 WHEN X.class = 3 
					 THEN 'Schema' 
					 --
					 WHEN X.class = 1 
					 THEN CASE O.[type_desc]
							WHEN 'USER_TABLE'							THEN 'Table' 
							WHEN 'VIEW'									THEN 'View' 
							WHEN 'SQL_STORED_PROCEDURE'					THEN 'Stored Procedure' 
							WHEN 'SQL_TABLE_VALUED_FUNCTION'			THEN 'Table-Valued Function' 
							WHEN 'SQL_INLINE_TABLE_VALUED_FUNCTION'		THEN 'Table-Valued Function' 
							WHEN 'SQL_SCALAR_FUNCTION'					THEN 'Scalar-Valued Function' 
							WHEN 'SYNONYM'								THEN 'Synonym'	
							--	
							ELSE 'Object - ' + O.[type_desc] 		
							--	 
						  END 
					 --
					 WHEN X.class = 6 
					 THEN 'Table Type'  
					 --
					 ELSE null 
					 --		
				END				as	ItemCategory 	
	--
	--
	,			X.[name]		
	,			X.[value]		
	--
	--
	FROM		sys.extended_properties	  X  	
	LEFT  JOIN	sys.securable_classes	  C	  ON  X.class = C.class 
	--						
	LEFT  JOIN	sys.objects				  O   ON  X.class IN ( 1 , 2 , 7 )		
											  AND X.major_id = O.[object_id]	
											  AND X.minor_id = 0 
	--	
	LEFT  JOIN	sys.table_types			  T   ON  X.class = 6 
											  AND X.major_id = T.user_type_id 
											  AND X.minor_id = 0 
	--	
	LEFT  JOIN	sys.schemas				  S	  ON  (
												 	  X.class = 3 
												  AND X.major_id = S.[schema_id]
												  AND X.minor_id = 0 
												  ) 
											  --  
											  OR  O.[schema_id] = S.[schema_id] 
											  OR  T.[schema_id] = S.[schema_id] 
											  -- 
	--	
	;		


GO
