USE [TA]
GO
/****** Object:  View [utility].[vw_JobQueue]    Script Date: 9/10/2025 9:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [utility].[vw_JobQueue]	
AS	
/**************************************************************************************

	Displays JobQueue records. 

		
		Example:	


			SELECT		*
			FROM		utility.vw_JobQueue	 X		
			WHERE		X.IsCancelled = 0
			AND			X.IsProcessed = 0 
			AND			X.IsRejected = 0	
			ORDER BY	X.ID DESC			
			;	


	Date			Action	
	----------		----------------------------
	2016-08-18		Created initial version.	

**************************************************************************************/	

	SELECT		Q.ID	
	--
	,			REPLACE(Q.InsertBy,'equitad\','')	RequestingUser	
	--
	,			Q.ConfiguredJobID	
	,			C.JobName			
	--
	,			Q.StartStepNumber 
	--
	,			C.IsActive 
	--
	,			Q.MinimumStartTime	
	--
	,			Q.IsProcessed	
	,			Q.ProcessedTime 
	,			Q.IsRejected 
	,			Q.RejectedTime 
	,			Q.IsCancelled 
	,			Q.CancelledTime 
	--
	,			Q.InsertTime 
	,			Q.UpdateTime 
	,			Q.InsertBy 
	,			Q.UpdateBy 
	--
	FROM		utility.JobQueue		Q	
	INNER JOIN	utility.ConfiguredJob	C	ON	Q.ConfiguredJobID = C.ID	
	--	
	;		


GO
